<%= form_for([@group = Group.new, @announcement = Announcement.new]) do |f| %>
  <ul class="no-style announcement">
    <li class="input-fields" class="input-fields">
      <%= f.label :subject, t('forms.label.subject'), class: 'accessibility' %>
      <%= f.text_field :subject, placeholder: t('announcements.input.new') %>
    </li>
    <li class="input-fields" class="input-fields">
      <%= f.label :content, class: 'accessibility' %>
      <%= f.text_area :content %>
    </li>

    <li class="input-fields">
      <%= f.label :tag_tokens, class: 'accessibility' %>
      <%= f.text_field :tag_tokens, data: {load: @announcement.tags} %>
    </li>

    <div class="preview">
      <div id="announcement-preview"></div>
    </div>

    <li class="input-fields">
        <%= f.submit t('announcements.new.submit'),id: 'submit-announcement', class: 'tiny button announcement right' %>
        <%= link_to t('general.links.show_preview'), '#', class: 'toggle-preview tiny button review-button right', 'data-id' => 'announcement' %>

      <div class="clearfix"></div>
    </li>
  </ul>
<% end %>