<section id="welcome">
  <center>
    <header id="welcome-header">
      <h1><%= t('landing_page.headers.welcome') %></h1>
      <%= image_tag('auditorium_logo_colors_with_text.png',  { class: 'full-logo centered'}) %>
      <h2 class="subheader"><%= t('general.slogan') %></h2>
      <h3 class="subheader"><%= t('general.subslogan') %></h3>
    </header>
  </center>
</section>

<section id="registration">
  <div class="large-8 large-centered columns">
    <div class="row">
      <div class="large-6 columns">
        <%= link_to t('landing_page.buttons.sign_up'), new_user_registration_path, class: 'button large wide submit'  %>
      </div>
      <div class="large-6 columns">
        <%= link_to t('landing_page.buttons.sign_in'), new_user_session_path, class: 'button large wide inverted', 'data-id' => 'show_login_form'  %>

        <div id="sign-in-form" class="block">
          <%= render 'devise/shared/sign_in_form' %>
         <div class="registration_links">
            <small><%= render "devise/shared/links" %></small>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
