<section id="welcome">
  <header id="welcome-header">
    <center>
	    <h1><%= t('home.greeting') %></h1>
	    <%= image_tag('auditorium_logo_colors_with_text.png',  { class: 'full-logo centered'}) %>
    </center>
  </header>
</section>

<section id="registration">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), class: "form-inline") do |f| %>
   <ul class="no-style"> 
    <li class="input-fields"> 
      <%= f.label :email, 'Email address', :class => 'accessibility'%>
      <%= f.text_field :email, :placeholder => 'Email address' %>
    </li>
    <li class="input-fields">
      <%= f.label :password, 'Password', :class => 'accessibility'%>
      <%= f.password_field :password, :placeholder => 'Password' %>
    </li>
    <li class="input-fields">
    <%= f.submit "Sign in", :class => 'btn btn-primary', 'data-disable-with' => 'Signing in...' %>
    </li>
    </ul>
  <% end %>
</section>

<section id="features">
	
</section>
<!-- 
<div class="container center span8 well">
<h2>Welcome to auditorium</h2>
<h3>A way to change communication on your campus!</h3>
<br />
<h4>You are a student? A lecturer? Or just interested in participation?</h4>

<p>Questions are the center of auditorium. You want to know how to solve a specific problem? You have a question to a specific lecture? You want to know what other people are interested in?</p>

<p>
	<%= link_to "Register with your TU Dresden email address",new_user_registration_path, :class => 'btn btn-primary btn-large hidden-phone' %>
	<%= link_to 'Already have an account?', new_user_session_path, :class => 'btn btn-large hidden-phone' %>
	<%= link_to "Register with your TU Dresden email address",new_user_registration_path, :class => 'btn btn-primary visible-phone' %>
	<div class="login-form visible-phone">
		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), class: "form-inline") do |f| %>
	    <%= f.label :email, 'Email address', :class => 'accessibility'%>
	    <%= f.text_field :email, :placeholder => 'Email address', class: 'input-small' %>
	    <%= f.label :password, 'Password', :class => 'accessibility'%>
	    <%= f.password_field :password, :placeholder => 'Password', class: 'input-small' %>
	    <%= f.submit "Sign in", :class => 'btn btn-primary', 'data-disable-with' => 'Signing in...' %>
  	<% end %>
	</div>
</p>

<p>You need to register with your TU Dresden email address. You don't have such an email address? You can <a href="mailto:auditorium@inftex.net">write us an email</a> and explain why you need access to auditorium.</p>
<hr />
<ul>
	<li><b>Already registered with a non-TU Dresden email address?</b> <a href="mailto:auditorium@inftex.net?Subject=Registered with wrong email address.">We can change your email address for you!</a></li>
	
	<li><b>Questions or problems?</b> You can <a href="mailto:auditorium@inftex.net">send us an email (german or english)</a> or a tweet to <a href="http://twitter.com/_auditorium">@_auditorium</a></li>
</ul>
</div> -->
