<%= form_for(@group) do |f| %>
  <% @group.errors.full_messages.each do |msg| %>
    <div data-alert class="alert-box error" id="flash">
      <%= msg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>

  <section id="group-type">
    <header>
      <h4><%= t('groups.choose_type.title') %></h4>
    </header>

    <% group_types.each do |group_type| %>
      <%= f.label :group_type, nil, value: group_type do %>
        <div class="large-4 columns choosable <%= 'selected' if @group.group_type.eql? group_type %> panel <%= group_type %>-group" data-id='<%= group_type %>' >
          <%= f.radio_button :group_type, group_type %>
          <dl>
            <dt><%= t("groups.group_types.#{group_type}.title") %></dt>
            <dd><%= t("groups.group_types.#{group_type}.description") %></dd>
          </dl>
        </div>
      <% end %>
    <% end %>
    <div class="clearfix" />
  </section>

  <section id="group-details">
    <header>
      <h4><%= t('groups.basic_information.title') %></h4>
    </header>

    <ul class="form">
      <li class="input-fields">
        <%= f.label :title, class: 'accessibility' %>
        <%= f.text_field :title %>
      </li>
      
      <li class="input-fields">
        <%= render 'shared/text_editor_buttons', element_id: dom_id(@group), element_name: @group.class.name.downcase %>
        <%= f.label :description, class: 'accessibility' %>
        <%= f.text_area :description %>
      </li>

      <li class="preview">
        <div id="group-preview"><p class="hint"><%= t('preview.placeholder') %></p></div>
      </li>

      <li class="input-fields">
        <%= f.label :tag_tokens, class: 'accessibility' %>
        <%= f.text_field :tag_tokens, data: {load: @group.tags} %>
        <p class="tags_hint hint"><%= t('groups.group_types.general.tags_hint')%></p>
      </li>
      
      <li class="input-fields"> 
        <%= f.submit t('groups.new.submit'), id: 'submit-group', class: 'tiny button submit right' %>
        <div class="clearfix"></div>
      </li>
    </ul>
  </section>
<% end %>

