<%= form_for(@group) do |f| %>

  <% @group.errors.full_messages.each do |msg| %>
    <div data-alert class="alert-box error" id="flash">
      <%= msg %>
      <a href="#" class="close">&times;</a>
    </div>
  <% end %>


  <div class="row">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'large-12 columns' %>
  </div>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'large-12 columns' %>
  </div>

  <div class="row">
    <%= f.label :tag_tokens %>
    <%= f.text_field :tag_tokens, data: {load: @group.tags}, class: 'large-12 columns' %>
    <p class="tags_hint hint"><%= t('groups.group_types.general.tags_hint')%></p>
  </div>

  <div class="row">
    <%= f.submit t('groups.new.submit'), id: 'submit', class: 'small button' %>
  </div>

  <%= f.hidden_field :group_type %>
<% end %>

<%= debug @group %>