<li class="group <%= group.group_type %>-group <%= 'following' if group.followers.include? current_user %>">
  <span class="legend">
    <%= t('groups.label', type: group.group_type.capitalize) %>
  </span>
  <span class="content"><%= link_to group.title, group_path(group) %></span>
  <span class="right">
    <% if can? :manage, group %>
    <span class="actions">
      <%= link_to content_tag('i', '', class: 'icon-pencil'), edit_group_path(group), alt: "#{t('groups.actions.edit')}", title: "#{t('groups.actions.edit')}" %>
      <%= link_to content_tag('i', '', class: 'icon-remove'), group, alt: "#{t('groups.actions.delete')}", title: "#{t('groups.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this group?' %>
      </span>
    <% end %>
  </span>
</li>