<div class="small-12 medium-6 large-6 columns">
  <article class="group <%= group.group_type %>-group">
    <header class="subheader">
      <h4><%= link_to group.title, group_path(group) %>
        
        <small class="right">
          <% unless group.followers.include? current_user %>
            <%= link_to t('general.follow'), follow_group_path(group), method: :post, class: 'button tiny alert' %>
          <% else %>
            <%= link_to t('general.unfollow'), unfollow_group_path(group), method: :post, class: 'button tiny' %>
          <% end %>
        </small>
      </h4>
    </header>
   
    <p class="group-tags"><%= tag_list_delimited(group.tags) %></p>
    <footer class="group-footer">
      <%= link_to t('groups.links.edit'), edit_group_path(group), class: 'button secondary tiny' %>
      <%= link_to t('groups.links.delete'), group, method: :delete, class: 'button secondary tiny' %>
    </footer>
  </article>

</div>