<div class="flip-container" data-id="<%= dom_id(group) %>">
  <div class="flipper">

    <div class="group front <%= group.group_type %>-group">

      <!-- front content -->
      <div class="content">
        <div class="header">
          <span class="ribbon">
            <%= t('groups.label', type: group.group_type.capitalize) %>
          </span>

          <div class="right">
            <div class="bookmark">
            <% if group.followers.include?(current_user) %>
              <%= link_to fa_icon('star'), following_group_path(group, method: 'unfollow'), remote: true, method: :post, title: t('groups.unfollow_link_text'), class: 'dark' %>
            <% else %>
              <%= link_to fa_icon('star-o'), following_group_path(group, method: 'follow'), remote: true, method: :post, title: t('groups.follow_link_text'), class: 'dark' %>
            <% end %>
            </div>
          </div>
        </div>

        <div class="body">
          <h2><%= link_to group.title, group_path(group) %></h2>

          <ul class="group-details">
            <li><%= t('groups.announcement_count', count: group.announcements.size) %></li>
            <li><%= t('groups.question_count', count: group.questions.size) %></li>
            <li><%= t('groups.topic_count', count: group.topics.size) %></li>
          </ul>
        </div>

        <div class="bottom">
          <%= link_to fa_icon('arrow-circle-right'), '#', class: 'flip-to-back', 'data-id' => dom_id(group) %>
        </div>
      </div>
    </div>

    <div class="group back <%= group.group_type %>-group">
      <!-- back content -->
      <div class="content">
        <div class="body">
          <h2><%= link_to group.title, group_path(group) %></h2>
          <p class="hint inverted"><%= t('groups.follower_count', count: group.followers.size) %></p>
          <p class="hint inverted tags"><%= t('groups.tags.label') %> <%= tag_list(group.tags, {additional_class: 'invert'}) %></p>
        </div>
        <div class="bottom">
        <span class="hint inverted left"><%= t('groups.creator', name: group.creator) %></span>
        <%= link_to fa_icon('arrow-circle-right'), '#', class: 'flip-to-front', 'data-id' => dom_id(group) %>
        </div>
      </div>
    </div>
  </div>
</div>