<section id="groups">
	<header class="subheader topic-group">
		<h2><%= t('groups.index.header')%></h2>
	</header>

  <div class="group-filter">
    <%= render 'shared/group_filter' %>
  </div>

  <ul class="groups">
  	<% @groups.each do |group| %>
      <li class="group <%= group.group_type %>-group" data-id="<%= dom_id(group) %>">
        <%= render 'groups/group', group: group %>
      </li>
    <% end %>
  </ul>

  <span class="right"><%= paginate @groups %></span>
</section>
