

<section id="groups">
  <header class="subheader topic-group">
    <h2><%= t('groups.index.title')%></h2>
  </header>

  <div class="group-filter">
    <%= render 'shared/group_filter' %>
    
    <%= form_tag filter_groups_path, method: 'get' do %>
    <%= t('general.tags.title') %> 
    <%= text_field_tag :tag_tokens, nil, data: {load: Tag.where(id: cookies[:group_filter_tag_ids])}, id: 'filter_tag_tokens' %>
    <% end %>
  </div>
  <div id="groups-grid">
    <%= render 'groups/groups_grid' %>
  </div>
</section>