<section id="groups">
	<header>
		<h1><%= t('groups.index.header') %></h1>
	</header>

	<div class="row">
		<% @groups.each do |group| %>
			<div class="small-12 medium-6 large-4 columns">
				<article class="group <%= group.group_type %>-group">
					<header class="subheader">
						<h4><%= link_to group.title, group_path(group) %></h4>
					</header>
			    <p class="group-description"><%= markdown group.description %></p>
			    <p class="group-tags"><%= tag_list_delimited(group.tags) %></p>
			    <footer>
			    	<%= link_to t('groups.links.edit'), edit_group_path(group), class: 'button secondary tiny' %>
			    	<%= link_to t('groups.links.delete'), group, method: :delete, class: 'button alert tiny' %>
			    </footer>
				</article>

			</div>
			
		<% end %>
	</div>
</section>


<%= link_to t('groups.new.link'), new_group_path, class: 'small button' %>