<section id="groups">
	<header class="subheader topic-group">
		<h2><%= t('groups.index.title')%></h2>
	</header>

	<%= link_to t('groups.new.link'), new_group_path, class: 'small button' %>

  <ul class="groups">
  	<% @groups.each do |group| %>
      <li class="group <%= group.group_type %>-group" data-id="<%= dom_id(group) %>">
        <%= render 'groups/group', group: group %>
      </li>
    <% end %>
  </ul>

  <span class="right"><%= paginate @groups %></span>
</section>
