<section id="groups">
	<header>
		<h1><%= t('groups.index.header') %></h1>
	</header>
<!-- TODO
	<nav class="groups-filter">
		<%= t('general.filter.group-types') %>
		<%= link_to t('general.filter.lecture-group'), '#', class: 'button tiny lecture-group' %>
		<%= link_to t('general.filter.learning-group'), '#', class: 'button tiny learning-group' %>
		<%= link_to t('general.filter.topic-group'), '#', class: 'button tiny topic-group' %>
	</nav> -->

	<div class="row">
		<%= render(@groups) || t('groups.no_groups_available') %>
	</div>
</section>


<%= link_to t('groups.new.link'), new_group_path, class: 'small button' %>