

<% title t('groups.index.title') %>
<section id="groups">
  <header class="subheader topic-group">
    <h3>
      <%= t('groups.index.title')%>
      <span class="right"><small><%= link_to fa_icon('chevron-up', text: t('general.filter.link')), '#', 'data-id' => 'toggle-group-filter' %></small></span>
    </h3>
  </header>

  <div class="filter-block" data-id="group-filter">
    <div id="group-filter" class="group-filter">
      <%= render 'shared/group_filter' %>
    </div>

    <div id="tag-filter" class="tag-filter <%= (params[:action].eql? 'my_groups') ? 'my-groups-filter' : 'groups-filter' %>">
      <%= form_tag groups_path, method: 'get' do %>

        <%= text_field_tag :tag_tokens, nil, data: {load: @tag_ids}, id: 'group_filter_tag_tokens', class: 'token-input-field' %>
        
        <%= label_tag :tag_tokens, t('general.filter.tag_filter.groups_filter'), class: 'hint' %> 
      <% end %>
    </div>
  </div>
  <div id="groups-grid">
    <%= render 'groups/groups_grid' %>
  </div>

  <%= link_to t('groups.actions.new'), new_group_path, class: 'button alert' %>
  <% unless params[:show_guide] != 'yes' and current_user.tutorial_progress.present? and current_user.tutorial_progress.groups %>
  <%= render 'guides/groups_guide' %>
  <% end %>
</section>