<section id="groups">
  <header class="subheader topic-group">
    <h2><%= t('groups.index.title')%></h2>
  </header>

  <div class="filter-block">
    <div class="group-filter">
      <%= render 'shared/group_filter' %>
    </div>

    <div class="tag-filter">
      <%= form_tag groups_path, method: 'get' do %>
        <%= text_field_tag :tag_tokens, nil, data: {load: Tag.where(id: cookies[:group_filter_tag_ids].split(','))}, id: 'group_filter_tag_tokens' %>
        <%= label_tag :tag_tokens, t('groups.tags.filter'), class: 'hint' %> 
      <% end %>
    </div>
  </div>
  <div id="groups-grid">
    <%= render 'groups/groups_grid' %>
  </div>
</section>