<section id="groups">
  <header class="subheader topic-group">
    <h2><%= t('groups.index.title')%></h2>
  </header>

  <div class="group-filter">
    <%= render 'shared/my_groups_filter' %>
  </div>

  
  <div class="row">
    <% if @groups.size > 0 %>
    <% @groups.each do |group| %>
      <div class="small-12 medium-6 large-4 columns" data-id="my_<%= dom_id(group)%>">
        <%= render 'groups/my_group', group: group %>
      </div>
    <% end %>

    <% else %>
      <div class="block">
        <%= t('my_groups.no_groups_subscribed') %>
      </div>
    <% end %>
  </div>
</section>