<h1><%= t('groups.new.title') %></h1>

<section class="block row" id="group-choose-type">
  <header>
    <h2><%= t('groups.choose-type.title') %></h2>
  </header>
  <% group_types.each do |group_type| %>
    <div class="large-4 columns choosable" data-id='<%= group_type %>'>
      <h1><%= t("groups.group_types.#{group_type}.title") %></h1>
      <p><%= t("groups.group_types.#{group_type}.description") %></p>
    </div>
  <% end %>
</section>

<section class="block row" id="group-basic-information">
  <header>
    <h2><%= t('groups.choose-type.title') %></h2>
  </header>
  <div class="large-12 columns">
    <%= render 'groups/form' %>
  </div>
</section>
