<% title @group.title %>
<% if @group.deactivated? %>
  <div class="notice">
    <% if current_user.admin? %>
      <%= link_to fa_icon('unlock', text: t('groups.actions.unlock')), reactivate_group_path(@group), method: :post, class: 'button tiny alert' %>
      <%= link_to fa_icon('times', text: t('groups.actions.delete')), @group, method: :delete, confirm: t('groups.actions.delete'), class: 'button tiny secondary' %>
    <% end %>

    <%= t('groups.hints.deactivated') %>
  </div>
<% elsif !@group.approved? %>
  <div class="notice">
    <% if current_user.admin? %>
      <%= link_to fa_icon('check', text: t('groups.actions.approve')), approve_group_path(@group), method: :post, class: 'button tiny alert' %>
      <%= link_to fa_icon('lock', text: t('groups.actions.decline')), decline_group_path(@group), method: :post, class: 'button tiny secondary' %>
    <% end %>

    <%= t('groups.hints.needs_approval') %>
  </div>
<% end %>

<section>
  <div id="<%= @group.group_type %>-group" class="block">
    <header>
       <span class="ribbon">
        <%= t("groups.label.#{@group.group_type}") %>
      </span>
      <span class="right" id="follow_button">
        <%= render 'groups/follow_button' %>
      </span>
      <h1><%= @group.title %></h1>
    </header> 
  
    <div class="group-information">
      <%= markdown @group.description if @group.description.present? %>
      <p class="hint"><%= t('groups.tags.label') %> <%= tag_list(@group.tags) %></p>
    </div>
  </div>



<% if can? :manage, @group %>  
<div class="block">
  
   
    <%= link_to fa_icon('chevron-down', text: t('groups.actions.manage_users')), show_members_list_group_path, class: 'button tiny secondary', id: 'toggle-members-list', method: :post, remote: true %>
     <%= link_to t('groups.actions.edit'), edit_group_path(@group), class: 'button tiny secondary' %>
  <div id="manage-members">
    <div id="searchbar">
      <%= form_tag search_members_path, method: :post, remote: true do %> 
        <%= text_field_tag :member_query, params[:member_query], :placeholder => "Search for users name or email...", :class => "span8" %>
        <%= hidden_field_tag :group_id, @group.id %>
      <% end %>
    </div>
    <div id="members"></div>
  </div>
  
</div>
<% else %>
<span class="right" id="membership-request-button">
  <%= render 'groups/membership_request_button' %>
</span>
<div class="clearfix"></div>
<% end %>


</section>
<section id="announcements">
  <%= render 'shared/announcements', limit: 10 %>
</section>


<section id="questions">
  <%= render 'shared/questions', limit: 10 %>
</section>

<section id="topics">
  <%= render 'shared/topics', limit: 10 %>
</section>

<% if @group.group_type.eql? 'lecture' and (@group.videos.size > 0 or can? :manage, @group) %>
<section id="videos">
  <%= render 'shared/videos' %>
</section>
<% end %>