
<section>
  <header><h1><%= @group.title %></h1></header> 

  <div class="information">
    <p><%= @group.description %></p> 
    <%= tag_list_delimited(@group.tags) %>
  </div>
</section>

<section id="announcements">
  <%= render 'shared/announcements', limit: 10 %>
</section>

<section id="questions">
  <%= render 'shared/questions', limit: 10 %>
</section>


