<section class="row">
  <header id="first-stop">
    <h2><%= t('questions.new.title') %></h2>
  </header>
  <%= form_for([@group, @question]) do |f| %>

  <div class="row">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: 'large-12 columns' %>
  </div>

  <div class="row">
    <%= f.label :body %>
    <%= f.text_area :body, class: 'large-12 columns' %>
  </div>

  <div class="row">
    <%= f.label :tag_tokens %>
    <%= f.text_field :tag_tokens, data: {load: @question.tags}, class: 'large-12 columns' %>
  </div>

  <div class="row">
    <% if params[:action] == 'new' %>
      <%= f.submit t('questions.new.submit'), class: 'small button' %>
    <% elsif params[:action] == 'edit' %>
      <%= f.submit t('questions.edit.submit'), class: 'small button' %>
    <% end %>
  </div>
<% end %>
</section>
