<article id="question">
  <header class="post-header">
    <span class="ribbon bigger">
      <% if @question.is_private? %>
        <%= fa_icon('lock', title: t('questions.is_private.icon_hint'), class: 'private') %>
      <% end %>
      <%= t('posts.types.question') %>
      <span data-id="<%= dom_id(@question) %>" class="rating bright"><%= render 'shared/rating', post: @question %></span>
    </span>
    <h2><%= @question.subject %></h2>    
  </header>

  <div class="post-content">
    <%= markdown @question.content %>
  </div>

  <div class="post-footer">
    <%= t('posts.general.group') %> 
    <%= link_to @question.group.title, group_path(@question.group) %>
    <% if can? :manage, @question %> 
      <span class="right">
        <span class="last_activity"><%= @question.last_activity.present? ? l(@question.last_activity, format: :short) : l(@question.updated_at, format: :short) %></span>
        <span class="actions">
          &middot;
          <%= link_to fa_icon('pencil', text: 'edit'), edit_question_path(@question), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
          <%= link_to fa_icon('times', text: 'remove'), @question, alt: "#{t('posts.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this question?' %>
        </span>
      </span>
    <% end %>
  </div>
</article>

<section class="comments-section">
  <%= render 'shared/comments', commentable: @question %>
</section>

<section class="answers">
  <%= render 'shared/answers' %>
</section>