<% title @question.subject %>
<article id="question">
  <header class="post-header">
    <span class="ribbon bigger">
      <% if @question.is_private? %>
        <%= fa_icon('lock', title: t('questions.is_private.icon_hint'), class: 'private') %>
      <% end %>
      <%= t('posts.types.question') %>
      <span data-id="<%= dom_id(@question) %>" class="rating bright" id="vote-for-question"><%= render 'shared/rating', post: @question %></span>
    </span>
    <h2><%= @question.subject %></h2>    
  </header>

  <div class="post-content">
    <%= markdown @question.content %>
  </div>

  <div class="post-footer">
    <%= render 'shared/post_footer', post: @question %>
  </div>
</article>

<p class="hint hide-for-small"><%= t('tags.label') %> <%= tag_list(@question.tags) %></p>

<section id='comments-for-question' class="comments-section">
  <%= render 'shared/comments', commentable: @question %>
</section>

<section id='answers-for-question' class="answers">
  <%= render 'shared/answers' %>
</section>
<% unless params[:show_guide] != 'yes' and current_user.tutorial_progress.present? and current_user.tutorial_progress.question %>
<%= render 'guides/question_in_detail_guide' %>
<% end %>