<article id="question">
  <header class="post-header">
    <h2><%= @question.subject %></h2>    
  </header>

  <div class="post-content">
    <%= markdown @question.content %>
  </div>

  <div class="post-footer">
    <%= "#{t('posts.general.group')}:" %> 
    <%= link_to @question.group.title, group_path(@question.group) %>
  </div>
</article>

<section class="comments-section">
  <%= render 'shared/comments', commentable: @question %>
</section>

<section class="answers">
  <%= render 'shared/answers' %>
</section>