<table class="table">
  <% if @users and @users.count > 0 %>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.username %>
          <b><%= user.username %></b>
          <% end %>
          
          <% if user.first_name and user.last_name%>
            <br/><%= "#{user.first_name} #{user.last_name}" %>
          <% else %>
            <br/><%= "#{user.email}" %>
          <% end %>
        </td>
        <td class="alert alert-info">
          
          <%= radio_button_tag "membership_#{user.id}", 'member', user.is_course_member?(@course) %>
          <span class="wrappable"><%= "Member" %></span>
  
        </td>
        <td class="alert alert-warning">
          
          <%= radio_button_tag "membership_#{user.id}", 'editor', user.is_course_editor?(@course) %>
          <span class="wrappable"><%= "Editor" %></span>

        </td>
        <td class="alert alert-error">
          
          <%= radio_button_tag "membership_#{user.id}", 'maintainer', user.is_course_maintainer?(@course) %>
          <span class="wrappable"><%= "Maintainer" %></span>
  
        </td>
      </tr>
    <% end %>
  <% else %>
  <p class="hint">No user found.</p>
  <% end %>
</table>