<% if params[:query].nil? %>
  <p class="hint">Type in your search query...</p>
<% elsif @results[:posts].empty? and @results[:lectures].empty? and @results[:courses].empty? %>
  <p class="hint">No results found!</p>
<% else %>

<% rows = 3 %>
<% rows -= 1 if @results[:lectures].empty? %>
<% rows -= 1 if @results[:courses].empty? %>
<% rows -= 1 if @results[:posts].empty? %>

<div class="row-fluid">
  <% if @results[:lectures].count > 0 %>
  <div class="span<%= 12/rows %>">
    <h4><%= pluralize(@results[:lectures].count, 'Lecture') %></h4>
    <table class="table table-striped">
      <% @results[:lectures].each do |lecture| %>
      <% unless lecture.nil? %>
      <tr>
        <td>
          <b><%= link_to lecture.name, lecture %></b>
          <br />
          <small><em>
            <% if lecture.courses.count > 0 %>
            <%= "Go to course in:" %>
            <% lecture.courses.each do |course| %>
            <%= link_to course.term.code, course_path(course) %><%= "," unless lecture.courses.last == course %>
            <% end %>
            <% else %>
            <p class='hint'><%= link_to 'Create the course for this semester!', new_course_path(:lecture_id => lecture.id, :name => lecture.name, :term_id => Term.last.id, :url => lecture.url, :description => lecture.description) %></p>
            <% end %>
          </em></small>
        </td></tr>
        <% end %>
      <% end %>
    </table>
    <%= paginate @results[:lectures], :param_name => :lecture_page %>
  </div>
  <% end %>



  <% if @results[:courses].count > 0 %>
    <div class="span<%= 12/rows %>">
    <h4><%= pluralize(@results[:courses].count, 'Course') %></h4>
    <table class="table table-striped">
      <% @results[:courses].each do |course| %>
      <% unless course.nil? %>
        <tr>
        <td>
        <b><%=link_to course.name_with_term, course_path(course) %></b>
        <br />
        <small><em>
          <%= pluralize(course.participants.count, 'participant') %>,
          <%= pluralize(course.questions.count, 'question') %>,
          <%= pluralize(course.infos.count, 'info') %>
        </em></small>
        </td>
        </tr>
      <% end %>
      <% end %>
    </table>
    <%= paginate @results[:courses], :param_name => :course_page %>
    </div>
  <% end %>


  <% if @results[:posts].count > 0 %>
    <div class="span<%= 12/rows %>">
    <h4><%= pluralize(@results[:posts].count, 'Post') %></h4>
    <table class="table table-striped">
      <% @results[:posts].each do |post| %>
      <% unless post.nil? %>
      <% if can? :read, post %>
      <tr>
        <td>
          <b><% if post.origin.is_private? %><i class="icon-eye-open"></i><% end %> <%= link_to post.subject, "#{post_path(post.origin)}#post-#{post.id}" %></b>
          <br />
          <small><em>
            <% if post.origin.is_private? %><%= "private" %><% end %> <%= post.post_type %>,
            <%= pluralize(post.answers.count, 'answer') %>,
            <%=link_to "written by #{post.author.full_name}", user_path(post.author) %>
          <span class="pull-right"><%= "last activity: #{distance_of_time_in_words(Time.now, post.updated_at) } ago"%></span>
          </em></small>
        </td>
      </tr>
      <% end %>
      <% end %>
      <% end %>
    </table>
    <%= paginate @results[:posts], :param_name => :post_page %>
  </div>
  <% end %>



<% end %>
</div>