<% title "Sidewide search" %>
<h1><%= t('general.search.header')%></h1>

<section id='alternative-search-form' class="block">
  <div class="row">
    <%= form_tag search_path, method: 'get', remote: true do %>
      <div class="large-10 columns">
        <%= text_field_tag :query, params[:query], { id: 'alternative-query', placeholder: t('general.search.placeholder.long')} %>
      </div>
      <div class="hide-for-small large-2 columns">
        <%= submit_tag t('general.search.submit'), class: "button expand small #{color_scheme}" %>
      </div>
    <% end %>
  </div>
</section>



<p id="search-hint" class="hint bigger"><%= t('general.search.press_enter') %></p>
<section id="alternative-search-results">
  <%= render 'shared/search_results' %>
</section>
