<% if current_user.experimental_group? %>
<!-- At the bottom of your page but inside of the body tag -->
<ol class="joyride-list" data-joyride>
  <li data-text="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.groups.welcome.header') %></h4>
    <p><%= t('guides.groups.welcome.text')%></p>
  </li>
  <li data-id="group-filter" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.groups.group_filter.header') %></h4>
    <p><%= t('guides.groups.group_filter.text') %></p>
  </li>
  <li data-id="tag-filter" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.groups.tag_filter.header') %></h4>
    <p><%= t('guides.groups.tag_filter.text') %></p>
  </li>

  <li data-id="groups-grid" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.groups.groups_grid.header') %></h4>
    <p><%= t('guides.groups.groups_grid.text') %></p>
  </li>

   <li data-id="group" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:left;tipAnimation:fade">
    <h4><%= t('guides.groups.following.header') %></h4>
    <p><%= t('guides.groups.following.text') %></p>
  </li>
  <li data-button="<%= t('guides.buttons.end') %>">
    <h4><%= t('guides.groups.conclusion.header') %></h4>
    <p><%= t('guides.groups.conclusion.text') %></p>

    <p><%= link_to t('guides.links.next_guide'), group_path(id: 110804009) %></p>
  </li>
</ol>
<%= hidden_field_tag 'guide', 'groups' %>
<% end %>