<% if current_user.experimental_group? %>
<!-- At the bottom of your page but inside of the body tag -->
<ol class="joyride-list" data-joyride>
  <li data-text="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.question_in_detail.welcome.header') %></h4>
    <p><%= t('guides.question_in_detail.welcome.text')%></p>
  </li>

  <li data-id="vote-for-question" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.question_in_detail.vote_for_question.header') %></h4>
    <p><%= t('guides.question_in_detail.vote_for_question.text') %></p>
  </li>

  <% if can? :manage, @question %>
  <li data-id="edit" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.question_in_detail.edit_question.header') %></h4>
    <p><%= t('guides.question_in_detail.edit_question.text') %></p>
  </li>
  <% end %>

  <li data-id="comments-for-question" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.question_in_detail.comments_for_question.header') %></h4>
    <p><%= t('guides.question_in_detail.comments_for_question.text') %></p>
  </li>

  <li data-id="answers-for-question" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.question_in_detail.answer_for_question.header') %></h4>
    <p><%= t('guides.question_in_detail.answer_for_question.text') %></p>
  </li>

  <li data-id="comments-for-answer" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.question_in_detail.comments_for_answer.header') %></h4>
    <p><%= t('guides.question_in_detail.comments_for_answer.text') %></p>
  </li>

  <li data-id="new-answer" data-button="<%= t('guides.buttons.next') %>" data-options="tipLocation:top;tipAnimation:fade">
    <h4><%= t('guides.question_in_detail.new_answer.header') %></h4>
    <p><%= t('guides.question_in_detail.new_answer.text') %></p>
  </li>

  <li data-button="<%= t('guides.buttons.end') %>" id="question-in-detail-conclusion">
    <h4><%= t('guides.question_in_detail.conclusion.header') %></h4>
    <p><%= t('guides.question_in_detail.conclusion.text') %></p>

    <p><%= link_to t('guides.links.finished'), current_user %></p>
  </li>
</ol>
<%= hidden_field_tag 'guide', 'question' %>
<% end %>