<div class="controle_group">
<%= form_for(@chair) do |f| %>
  <% if @chair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chair.errors.count, "error") %> prohibited this chair from being saved:</h2>

      <ul>
      <% @chair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="fields">
    <%= f.label :url %>
    <%= f.text_field :url %>
  </div>
  <div class="fields">
    <%= f.label :institute_id %>
    <%= f.select :institute_id, options_from_collection_for_select(Institute.all, :id, :name, params[:institute_id]) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
