<% if @chairs.count > 0 %>
<% if params[:q] %><h3>Search results</h3><% end %>

<%
  cols = 3 if cols.nil?
  cols = 12/cols
  i = 0
%>

<div class="row-fluid" id="grid" >
  <% @chairs.each do |chair| %>
    <div class="span<%=cols%> well" >
      <h3><%= link_to chair.name, chair %></h3>
      <hr />
      <h4><%= pluralize(chair.lectures.count, 'Lecture') %> 
        <span class="pull-right"><small>
          <%= link_to '#', :class => "toggle-lectures", 'data-id' => chair.id do %>
            show lectures <i class="icon-caret-down"></i> 
          <% end %>
        </small></span>
      </h4>
      <table class="table table-striped lectures-table" id="lectures-for-chair-<%= chair.id %>-table">
        <% chair.lectures.each do |lecture| %>
        <tr>
          <td>
            <b><%= link_to lecture.name, lecture %></b>
            <br />
            <small><em>
              <% if lecture.courses.count > 0 %>
              <%= "Go to course in:" %>
              <% lecture.courses.each do |course| %>
              <%= link_to course.term.code, course_path(course) %><%= "," unless lecture.courses.last == course %>
              <% end %>
              <% else %>
              <p class='hint'><%= link_to 'Create the course for this semester!', new_course_path(:lecture_id => lecture.id, :name => lecture.name, :term_id => Term.last.id, :url => lecture.url, :description => lecture.description) %></p>
              <% end %>
            </em></small>
          </td></tr>
        <% end %>
      </table>

      <% if chair.lectures.count == 0 %>
        <p class='hint'>You can't find the correct lecture? <%= link_to 'Create it!', new_lecture_path %>.</p>
      <% end %>

      <% if current_user and current_user.admin? %>
        <p>
          <%= link_to 'new lecture', new_lecture_path(:chair_id => chair.id), :class => 'btn btn-small btn-primary' %>
          <%= link_to 'edit chair', edit_chair_path(chair) , { :class => 'btn btn-small btn-warning' }  %>
        </p>
      <% end %>
    </div>
    <% i=i+1 %>
    <% if i % (12/cols) == 0 %>
    </div>

    <div class="row-fluid" >
    <% end %>

  <% end %>
</div>
<%=paginate @chairs %>
<% else %>
<p class="hint">No courses were found.</p>
<% end %>