<% if @recording.errors.any? %>
<div class="alert alert-error">
  Something went wrong
  <dl>
    <% @recording.errors.full_messages.each do |msg| %>
    <dd><%= msg %></dd>
    <% end %>
  </dl>
</div>
<% end %>

<div class="row center span8 well">
  <%= form_for ([@course, @recording]), :class => 'form-horizontal' do |f| %>
  	<div class="control-group">
	    <div class="controls">
	      
	    	<label for='url'>URL:</label>
	    	<%= f.url_field :url, placeholder: 'Paste the URL of your external video (currently only YOUTUBE)...', class: 'span8', id: 'url_field' %>

	    	<label for='subject'>Title:</label>
	    	<%= f.text_field :subject, placeholder: 'Type in the title of the recording...', class: 'span8', id: 'title_field' %>

	    	<label for='body'>Description:</label>
	    	<%= f.text_area :body, placeholder: 'Describe your recording...', class: 'span8', id: 'body_field', size: '10x8' %>

	    	<label class="checkbox">
			  <%= f.check_box :is_private %><%= "Check this if your recordings shell not be listed. You can publish it afterwards by editing the recording." %>
			  </label>
	    </div>
	  </div>

	    <%= f.hidden_field :course_id, value: params[:course_id] %>
	    <%= f.hidden_field :post_type, value: 'recording' %>
	    <% if params[:action].eql? 'edit' %>
	    	<%= f.submit t('recordings.action.update'), :class => 'btn btn-large btn-primary', 'data-disable-with' => 'Submitting...' %>
	    <% else %>
	    	<%= f.submit t('recordings.action.submit'), :class => 'btn btn-large btn-primary', 'data-disable-with' => 'Submitting...' %>
	    <% end %>
	    <%= link_to "Cancel", :back, class: 'btn btn-large' %>
  <% end %> <!-- end form -->

</div>