<h2><%= t('recordings.headline.index') %></h2>
<p class="hint">Recordings for <%= link_to @course.name_with_term, @course %></p>
<% if can? :manage, @course %>
	<p><%= link_to t('recordings.action.add'), new_course_recording_path, class: 'btn btn-primary' %></p>
<% end %>

<% if (can? :manage, @course and @recordings.size > 0) or @recordings.published.size > 0 %>
	<div class="row-fluid" id="grid">
		<% @recordings.each_with_index do |recording, index| %>
		<% unless recording.is_private? and not current_user.is_course_maintainer? @course %>
			<div class="span4">
				<div class="well-small <%= "private" if recording.is_private? %>">
					<% if recording.is_private? %><p class="hint">This recording is marked as private. You can publish the recording by editing it.</p><% end %>
					<%= link_to image_tag("https://img.youtube.com/vi/#{recording.code.to_s}/1.jpg", class: 'youtube-preview'), [@course, recording] %>
					<h3><%= link_to recording.subject, [@course, recording] %></h3>
					<p><%= truncate recording.body, length: 100 %></p>
					<% if can? :manage, recording %>
						<%= link_to t('recordings.action.edit'), edit_course_recording_path(@course, recording), class: 'btn btn-small btn-warning' %>
						<%= link_to t('recordings.action.delete'), [@course, recording], method: :delete, confirm: 'Are you sure to delete this recording? This action cannot be undone.', class: 'btn btn-small btn-danger' %>
					<% end %>
				</div>
			</div>
			<% end %>

			<% if index+1%3 == 0 %>
				</div>
				<div class="fluid-row" id="grid">
			<% end %> 
		<% end %>
	</div>
<% else %>
<hr />
	
	<% if can? :create, @course.recordings %>
		<p class="hint">No recordings available, yet. <%= link_to "#{t('recordings.action.new')}.", new_course_recording_path %></p>
	<% else %>
		<p class="hint">No recordings available, yet. Try to convince the lecturer to record his lectures.</p>
	<% end %>
<% end %>