<section id="welcome">
  <header id="welcome-header">
    <center>
      <h1><%= t('home.headers.welcome_back', user: current_user.first_name || current_user.username) %></h1>
      
    </center>
  </header>
</section>

<section id="activity">

  <!-- new posts -->
  <header id="recent-posts">
    <h3>
      <%= t('home.headers.recent_activity') %>
      <span class="right">
        <small>
        <%= link_to fa_icon('chevron-up', text: t('general.filter.link')), '#', 'data-id' => 'toggle-post-filter' %>
        </small>
      </span>
    </h3>
  </header>

  <div class="filter-block" data-id="post-filter">
    <div class="post-filter">
      <%= render 'shared/post_filter' %>
    </div>

    <div class="tag-filter">
      <%= form_tag home_path, method: 'get' do %>
        <%= text_field_tag :tag_tokens, nil, data: {load: Tag.where(id: cookies[:post_filter_tag_ids])}, id: 'post_filter_tag_tokens', class: 'token-input-field' %>
        <%= label_tag :tag_tokens, t('general.filter.tag_filter.posts_filter'), class: 'hint' %> 
      <% end %>
    </div>
  </div>
  <div id="post-stream">
    <%= render 'home/post_stream' %>
  </div>
</section>