<section id="welcome">
  <header id="welcome-header">
    <center>
    <h1><%= t('home.greeting', user: current_user.first_name || current_user.username) %></h1>
    <%= image_tag('auditorium_logo_rect.png',  { class: 'full-logo centered'}) %>
    
    </center>
  </header>

</section>

<section id="activity">

  <!-- new posts -->
  <header id="recent-posts">
    <h2>
      <%= t('home.titles.recent-posts') %>
      <span class="right">
        <small>
        <%= link_to t('general.filter.show'), '#', 'data-id' => 'toggle-post-filter', class: 'button filter tiny' %>
        </small>
      </span>
    </h2>

  </header>



  <div class="filter-block" data-id="post-filter">
    <div class="post-filter">
      <%= render 'shared/post_filter' %>
    </div>

    <div class="tag-filter">
      <%= form_tag home_path, method: 'get' do %>
        <%= text_field_tag :tag_tokens, nil, data: {load: Tag.where(id: cookies[:post_filter_tag_ids])}, id: 'post_filter_tag_tokens' %>
        <%= label_tag :tag_tokens, t('general.filter.tag_filter.posts_filter'), class: 'hint' %> 
      <% end %>
    </div>
  </div>
  <div id="post-stream">
    <%= render 'home/post_stream' %>
  </div>
</section>