<article id="announcement">
  <header class="post-header">
    <span class="ribbon bigger">
      <%= t('posts.types.announcement') %>
      <span data-id="<%= dom_id(@announcement) %>" class="rating bright"><%= render 'shared/rating', post: @announcement %></span>
    </span>
    <h2><%= @announcement.subject %></h2>    
  </header>

  <div class="post-content">
    <%= markdown @announcement.content %>
  </div>

  <div class="post-footer">
    <%= t('posts.general.group') %> 
    <%= link_to @announcement.group.title, group_path(@announcement.group) %>

    <% if can? :manage, @announcement %> 
      <span class="right">
        <span class="created_at"><%= l(@announcement.created_at, format: :short) %></span>
        <span class="actions">
          &middot;
          <%= link_to fa_icon('pencil', text: 'edit'), edit_announcement_path(@announcement), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
          <%= link_to fa_icon('times', text: 'remove'), @announcement, alt: "#{t('posts.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this announcement?' %>
        </span>
      </span>
    <% end %>
  </div>
</article>

<section class="comments-section">
  <%= render 'shared/comments', commentable: @announcement %>
</section>