<article id="announcement">
  <header class="post-header">
    <span class="ribbon bigger">
      <%= t('posts.types.announcement') %>
      <span data-id="<%= dom_id(@announcement) %>" class="rating bright"><%= render 'shared/rating', post: @announcement %></span>
    </span>
    <h2><%= @announcement.subject %></h2>    
  </header>

  <div class="post-content">
    <%= markdown @announcement.content %>
  </div>

  <div class="post-footer">
    <%= render 'shared/post_footer', post: @announcement %>
  </div>
</article>

<section class="comments-section">
  <%= render 'shared/comments', commentable: @announcement %>
</section>