<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), class: "form-inline") do |f| %>
  <%= devise_error_messages! %>
  <ul class="no-style"> 
    <li class="input-fields">
      <%= f.label :email, t('forms.labels.email'), class: 'accessibility' %>
      <%= f.email_field :email, placeholder: t('forms.placeholder.email'), autofocus: true %>
    </li> 

    <li class="input-fields">
      <%= f.label :password, t('forms.labels.password'), class: 'accessibility' %>
      <%= f.password_field :password, placeholder: t('forms.placeholder.password') %>
    </li>   

    <% if devise_mapping.rememberable? %>
      <li class="input-fields">
      <%= f.label :remember_me do %>
        <%= f.check_box :remember_me %>
        <%= t('forms.labels.remember_me') %>
      <% end %> 
    </li>

    <% end %>
    
    <li class="input-fields">
      <%= f.submit t('forms.labels.sign_in'), class: 'button submit wide' %>
    </li>
  </ul>
<% end %>