<h2>
  Your Notifications
  <%= button_to 'mark all as read', mark_all_as_read_path, :name => 'mark_all_as_read', :class => "inline-button btn btn-mini" %>
</h2>

<% if @notifications.count > 0 %>
<table class="table notifications">
  <thead>
    <tr>
      <th>When?</th>
      <th>What?</th>
      <th>Course</th>
    </tr>
  </thead>

  <tbody>

  <% @notifications.each do |notification| %>
    <% if notification.notifyable_type.eql? 'Post' %>
      <% post = notification.notifyable_object %>
      <% if not post.nil? %>
        <% if notification.read %>
        <tr class='clickable read'>
        <% else %>
        <tr class='clickable unread'>
        <% end %>
          <td class="span2"><%= I18n.localize(notification.created_at, :format => :short)%></td>
          <td class="span6">
            <p><big><%= link_to notification do %><%= "New #{post.post_type} by #{post.author}" %><% end %></big><p>
            <div class="notification-details">
              <% if post.post_type.eql? 'question' or post.post_type.eql? 'info' %>
              <p><b><%= post.subject %></b></p>
              <% end %>
              <div class="expandable">
                <%= markdown post.body %>
              </div>
            </div>
          </td>
          <td class="span2"><%= post.course.name_with_term %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>


  </tbody>
</table>

<%= paginate @notifications %>
<% else %>
  <p class="hint">There are no notifications for you yet.</p>
<% end %>

