<header>
  <h2 class="subheader"><%= t('notifications.index.title') %></h2>
</header>
 

<% @notifications.group_by { |n| n.notifiable_type }.each do |model, notifications| %>
<h3><%= model.pluralize %></h3>
<ul class="notifications" id="<%= model.pluralize.downcase %>">
  <% notifications.each do |notification| %>
    <%= render "notifications/notification", notification: notification %>
  <% end %>
</ul>
<% end %>


<%= paginate @notifications %>