<h2>
  Your Notifications
  <%= button_to 'mark all as read', mark_all_as_read_path, :name => 'mark_all_as_read', :class => "inline-button btn btn-mini" %>
</h2>

<% if @notifications.count > 0 %>
<table class="table notifications">
  <thead>
    <tr>
      <th>When?</th>
      <th>What?</th>
      <th>Course</th>
    </tr>
  </thead>

  <tbody>

  <% @notifications.each do |notification| %>
    <% if notification.notifyable_type.eql? 'Post' %>
      <% post = notification.notifyable_object %>
      <% if not post.nil? %>
        <%= link_to post do %>
          <% if notification.read %>
          <tr class='clickable read'>
          <% else %>
          <tr class='clickable unread'>
          <% end %>
            <td><%= I18n.localize(notification.created_at, :format => :short)%></td>
            <td><%= "New #{post.post_type} by #{post.author}:" %><%= link_to post.subject, notification %></td>
            <td><%= post.course.name_with_term %></td>
          </tr>
        <% end %>  
      <% end %>
    <% end %>
  <% end %>


  </tbody>
</table>

<%= paginate @notifications %>
<% else %>
  <p class="hint">There are no notifications for you yet.</p>
<% end %>

