<% if unread_membership_requests.count > 0 %>
<h3>Membership requests</h3>
  <%= render 'membership_requests/membership_requests_table', :mr => unread_membership_requests %>
  <hr />
<% end %>

<% if @notifications.count > 0 %>
<h3>Notifications <%= button_to 'mark all as read', mark_all_as_read_path, :name => 'mark_all_as_read', :class => "btn btn-mini" %></h3>
<table class="table notifications">
  <thead>
    <tr>
      <th class="hidden-phone">When?</th>
      <th>Course</th>
      <th>What?</th>
    </tr>
  </thead>

  <tbody>

  <% @notifications.each do |notification| %>
    <% if notification.notifyable_type.eql? 'Post' %>
      <% post = notification.notifyable_object %>
      <% if not post.nil? %>
        <% if notification.read %>
        <tr class='clickable read' id="<%= "notification-#{notification.id}"%>">
        <% else %>
        <tr class='clickable unread' id="<%= "notification-#{notification.id}"%>">
        <% end %>
          <td class="span1">
            <p><%= I18n.localize(notification.created_at, :format => :short)%></p>
            <div id="<%= "notification-#{notification.id}-icon"%>">
              <% unless notification.read? %>
              <%= button_to 'mark as read', mark_notification_as_read_path(notification), class: 'btn btn-mini btn-primary', :id => "notification-#{notification.id}-mark-as-read", remote: true %>
              <% else %>
              <i class='icon-ok'></i>
              <% end %>
            </div>
          </td>
          <td class="span2 hidden-phone">
            <%= link_to post.course.name_with_term, course_path(post.course) %> 
          </td>
          <td class="span6">
            <span class="pull-right"><%= link_to content_tag('i', '', class: 'icon-remove'), notification, :data => { :confirm => "Are you sure that you want to delete this notification?" }, method: :delete, class: 'pull-right' %></span>
            <p class="visible-phone"><small><%= post.course.name_with_term %> </small></p>
            <p><big><%= link_to notification do %><%= "New #{post.post_type} by #{post.author}" %><% end %></big><p>
            <div class="notification-details">
              <% if post.post_type.eql? 'question' or post.post_type.eql? 'info' %>
              <p><b><%= post.subject %></b></p>
              <% end %>
              <div class="expandable">
                <%= markdown post.body %>
              </div>
            </div>

          </td>
          
        </tr>
      <% end %>
    <% end %>
  <% end %>


  </tbody>
</table>

<%= paginate @notifications %>
<% else %>
  <p class="hint">There are no notifications for you yet.</p>
<% end %>

