<%= form_for((@user.setting.nil? ? [@user, @setting = Setting.new] : [@user, @setting = @user.setting]), remote: true) do |f| %>
  <header>
    <h3 class="subheader"><%= t('users.profile.settings.general_settings.header') %></h3>
    <p class="hint"><%= t('users.profile.settings.general_settings.hint') %></p>
  </header>
  <ul class="no-style">
    <li class="input-fields">
      <%= f.label :receive_email_notifications do %>
      <%= f.check_box :receive_email_notifications %>
      <%= t('users.profile.settings.receive_email_notifications') %>
      <% end %>
    </li>

    <% if @setting.receive_email_notifications %>
      <li class="input-fields">
        <%= f.label :receive_emails_when_author do %>
          <%= f.check_box :receive_emails_when_author %>
          <%= t('users.profile.settings.receive_email_notifications_when_author') %>
        <% end %>
      </li>
    <% end %>

    <li class="input-fields">
      <%= f.submit t('users.profile.settings.general_settings.submit'), class: 'tiny button users' %>
    </li>
  </ul>
<% end %>
<% if @setting.persisted? and @setting.receive_email_notifications %>
  <header>
    <h3 class="subheader"><%= t('users.profile.settings.subscribed_groups.header') %></h3>
    <p class="hint"><%= t('users.profile.settings.subscribed_groups.hint') %></p>
  </header>
  
    <% if @user.followings.size > 0 %>
      <%= form_tag user_setting_groups_path(user_id: @user, setting_id: @user.setting.id), method: :post, remote: true do %>

        <ul class="no-style">
          <div id="subscribed-groups">
          <% @user.followings.sort { |x,y| x.followerable.title <=> y.followerable.title}.each do |following| %>
            <% group = Group.find(following.followerable_id) %>
            <li class="input-fields">
              <%= label_tag "receive_notifications[#{dom_id(group)}]".to_sym do %>
                <%= check_box_tag "receive_notifications[#{dom_id(group)}]".to_sym, 1, following.receive_notifications %>
                <%= group.title %>
              <% end %>
            </li>
          <% end %>
          </div>
          <li class="input-fields">
            <%= submit_tag t('users.profile.settings.subscribed_groups.submit'), class: 'tiny button users' %>
          </li>
        </ul>
      <% end %>
    <% else %>
      <p class="alert-box warning"><%= t('groups.no_subscribed_groups') %> <%= link_to t('links.goto.groups_for_subscribing'), groups_path %></p>
    <% end %>

<% end %>