<h3 class="subheader"><%= t('users.profile.personal_information.title')%></h3>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|%>
    <%= devise_error_messages! %>
    <ul class="no-style">
      <li class="input-fields">
        <%= f.label :title, t('users.labels.title') %>
        <%= f.text_field :title %>
        <p class="hint"><%= t('users.profile.personal_information.user_title') %></p>
      </li>
      <li class="input-fields">
        <%= f.label :first_name, t('users.labels.first_name') %>
        <%= f.text_field :first_name %>
      </li>
      <li class="input-fields">
        <%= f.label :last_name, t('users.labels.last_name') %>
        <%= f.text_field :last_name %>
      </li>

      <li class="input-fields">
        <%= f.label :username, t('users.labels.username') %>
        <%= f.text_field :username, :autocomplete => 'off' %>
      </li>

      <li class="input-fields">
        <%= f.label :email, t('users.labels.email') %>
        <%= f.email_field :email, :autocomplete => 'off' %>
        <% if resource.unconfirmed_email.present? %>
        <p class="hint"><%= t('users.pending_email_confirmation', email: resource.unconfirmed_email) %></p>
        <% end %>
      </li>

      <li class="input-fields">
        <%= f.label :role, t('users.labels.role') %>
        <%= f.select :role, User::ROLES.collect {|r| [I18n.t("users.roles.#{r}"), r]}, include_blank: true %>
      </li>

      <li class="input-fields">
        <%= f.label :password, t('users.labels.password') %>
        <%= f.password_field :password, :autocomplete => 'off' %>
      </li>

      <li class="input-fields">
        <%= f.label :password_confirmation, t('users.labels.password_confirmation') %>
        <%= f.password_field :password_confirmation, :autocomplete => 'off' %>
      </li>
      <li class="input-fields">
        <%= f.label :current_password, t('users.labels.current_password') %>
        <%= f.password_field :current_password, :autocomplete => 'off' %>
      </li>

      <li class="input-fields">
        <%= f.submit t('users.profile.personal_information.submit'), class: 'submit tiny button users' %>
      </li>

      <li class="input-fields">
        <%= t('users.profile.delete.text') %> <%= link_to t('users.profile.delete.link'), registration_path(resource_name), :data => { :confirm => t('users.profile.delete.confirm') }, :method => :delete %>
      </li>
    </ul>
  <% end %>