<% title @user %>
<header>
  <h2>
    <%= t('users.profile.progress.title') %>
  </h2>
</header>

<div class="row">
  <div class="large-12 columns">
    <h3><%= t('progress.level.header', level: 5)%></h3>
  <progress value="<%= @user.score %>" max="2250"></progress> <%= t('progress.point_difference', value: @user.score, max: 2250) %>
  <p class="hint"><%= t('progress.level.next_level', points: (2250 - @user.score)) %></p>
  </div>
</div>

<div class="row">
  <div id="tutorial-progress" class="large-6 columns">
    <h3><%= t('progress.tutorial_progress.header')%></h3>
    
    <ul class="plain-list">
      <li><progress value="<%= @user.tutorial_progress.progress %>" max="<%= @user.tutorial_progress.max_value %>"></progress> <%= t('progress.percentage', value: sprintf('%.0f', @user.tutorial_progress.percentage)) %></li>
      <li><%= is_done? @user.tutorial_progress.introduction %>&nbsp;<%= link_to t('progress.tutorial_progress.introduction'), home_path(params: { show_guide: true }) %></li>
      <li><%= is_done? @user.tutorial_progress.groups %>&nbsp;<%= link_to t('progress.tutorial_progress.groups'), groups_path(params: { show_guide: true }) %></li>
      <li><%= is_done? @user.tutorial_progress.group %>&nbsp;<%= link_to t('progress.tutorial_progress.group'), group_path(id: 110804009, params: { show_guide: 'yes'}) %></li>
      <li><%= is_done? @user.tutorial_progress.question %>&nbsp;<%= link_to t('progress.tutorial_progress.question'), question_path(id: 3079, params: { show_guide: true }) %></li>
    </ul>
  </div>
  <div id="profile-progress" class="large-6 columns">
    <h3><%= t('progress.profile_progress.header')%></h3>
    
    <ul class="plain-list">
      <li><progress value="<%= @user.profile_progress %>" max="3"></progress> <%= t('progress.percentage', value: sprintf('%.0f', @user.profile_progress_percentage)) %></li>
      <li><%= is_done? @user.first_name.present? %>&nbsp;<%= t('progress.profile_progress.first_name') %></li>
      <li><%= is_done? @user.last_name.present? %>&nbsp;<%= t('progress.profile_progress.last_name') %></li>
      <li><%= is_done? @user.username.present? %>&nbsp;<%= t('progress.profile_progress.username') %></li></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <h3><%= t('progress.badges.header')%></h3>
    <h4 class="subheader"><%= t('badges.headers.bronze_badges') %></h4>
    <p class="hint"><%= t('badges.hints.bronze_badges') %></p>
    <ul class="badge-list">
      <% @bronze_badges.each do |badge| %>
        <%= render 'badges/badge', badge: badge %>
      <% end %>
    </ul>

    <h4 class="subheader"><%= t('badges.headers.silver_badges') %></h4>
    <p class="hint"><%= t('badges.hints.silver_badges') %></p>
    <ul class="badge-list">
      <% @silver_badges.each do |badge| %>
        <%= render 'badges/badge', badge: badge %>
      <% end %>
    </ul>

    <h4 class="subheader"><%= t('badges.headers.gold_badges') %></h4>
    <p class="hint"><%= t('badges.hints.gold_badges') %></p>
    <ul class="badge-list">
      <% @gold_badges.each do |badge| %>
        <%= render 'badges/badge', badge: badge %>
      <% end %>
    </ul>
  </div>
</div>