<% if @user.errors.any? %>
<div class="alert alert-error">
  Something went wrong
  <dl>
    <% @user.errors.full_messages.each do |msg| %>
    <dd><%= msg %></dd>
    <% end %>
  </dl>
</div>
<% end %>

<div class="center container span6 well">

    <%= form_for(@user, :html => { :class => 'form-horizontal' }) do |f| %>

      <div class="control-group">
        <%= f.label :username, 'Username', :class => 'control-label'%>
        <div class="controls">
          <%= f.text_field :username, class: 'span4' %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :title, 'Title', :class => 'control-label'%>
        <div class="controls">
          <%= f.select :title, options_for_select(available_title), :include_blank => true, :class => 'span8' %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :first_name, 'First name', :class => 'control-label'%> 
        <div class="controls">
          <%= f.text_field :first_name, class: 'span4'  %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :last_name, 'Last name', :class => 'control-label'%>
        <div class="controls">
          <%= f.text_field :last_name, class: 'span4'  %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :email, 'Email address', :class => 'control-label'%>
        <div class="controls"> 
          <%= f.email_field :email, class: 'span4' %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :alternative_email, 'Email for gravatar', :class => 'control-label'%>
        
        <div class="controls"> 
          <%= f.email_field :alternative_email, class: 'span4' %>
          <span class="label">used for avatar</span> 
        </div> 
      </div>
      
      <div class="control-group">
        <%= f.label :password, 'New password', :class => 'control-label'%>
        <div class="controls">
          <%= f.password_field :password, :autocomplete => "off", class: 'span4' %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :password_confirmation, 'Confirm new password', :class => 'control-label'%>
        <div class="controls">
          <%= f.password_field :password_confirmation, :autocomplete => "off", class: 'span4'  %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :admin, 'Admin?', :class => 'control-label'%>
        <div class="controls">
          <label class="checkbox">
          <%= check_box_tag(:admin, nil, @user.admin?) %><%= "Should this user be an admin?" %>
          </label>
          <p class="alert alert-danger">Be sure if you change the permissions of this user!</p>
        </div>
      </div>

      <div class="controls">
        <%= f.submit "Save changes", :class => 'btn btn-large btn-primary', 'data-disable-with' => 'Saving...' %>
        <%= link_to 'Cancel', :back, :class => 'btn btn-large' %>
      </div>

  <% end %>
</div>
