<header>
  <h2><%= t('users.headers.index') %></h2>
</header>
<article>
  <table class="block table leaderboard">
    <thead>
      <tr>
        <th>#</th>
        <th><%= t('users.labels.name')%></th>
        <th><%= t('users.labels.score')%></th>
        <th><%= t('users.labels.level') %></th>
      </tr>
    </thead>
    <tbody>
      <% params[:page].nil? ? page = 0 : page = params[:page].to_i-1 %> 
      <% @users.each_with_index do |user, i| %>
        <tr>
          <td class="rank"><b><%= i + 1 + 10*page %></b></td>
          <td><%= user.full_name %></td>
          <td><%= user.score %></td>
          <td><%= t('progress.level.header', level: (user.level.present? ? user.level.number : 0)) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <span class="right"><%= paginate @users %></span>
</article>
