<h2>Moderation</h2>

<table class="table table-condensed">
	<thead>
		<tr>
			<th>Confirmed?</th>
			<th>Username</th>
			<th>Email</th>
			<th>Created</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
			<tr>
				<% if not user.confirmed? and can? :manage, user %>
				<td><%= button_to 'confirm', "/users/#{user.id}/confirm", :class => 'btn btn-success btn-primary' %>  <%= "Confirmation sent (#{I18n.localize(user.confirmation_sent_at, format: :short)})" if not user.confirmation_sent_at.nil? %> </td>
				<% else %>
				<td><span class="icon-ok"></span></td>
				<% end %>
				<td>
					<% if user.username %>
          <b><%= user.username %></b>
          <% else %>
            <b><%= user.email.split('@')[0] %></b>
          <% end %>
          <br/><%= "#{user.first_name} #{user.last_name}" %>
       	</td>
				<td><%= user.email %></td>
				<td><%= I18n.localize(user.created_at, :format => :short) %></td>
				<% if can? :destroy, user %>
				<td><%= link_to "Delete User", destroy_user_account_path(user), 
	                        :class => "btn btn-danger btn-mini", 
	                        :confirm => "Are you sure?",
	                        :title => "Delete #{user.full_name}",
	                        :method => :delete %>
	      <% end %>
	    </td>
			</tr>
		<% end %>
	</tbody>
</table>