<% 
if params[:show] and params[:show].eql? 'all'
	limit = nil
else
	limit = 5
end 
%>
<div class="container">
<h2>
	<%= gravatar_image_tag(@user.alternative_email, :alt => @user.full_name, :gravatar => {:default => :wavatar, :size => 50, :secure => true })%>
	<% if @user.admin? %><i class="icon-certificate" title='Admin of auditorium' rel="tooltip" style="cursor:pointer;"></i><% end %> 
	Profile of <%= @user.full_name %>
</h2>

<section class="row-fluid">
	<div id="questions" class="span6">
		<h3>Questions</h3>
		<% if @user.questions.empty? %>
			<p class="hint">This user has not posted any questions yet.</p>
		<% else %>
			<% @user.questions(limit).each do |question| %>
				<% if can? :read, question %>
	    	<%= render :partial => 'posts/post_teaser', :locals => { :post => question} %>
	    	<% end %>
			<% end %>
				<%= link_to "view more", user_path(@user, show: 'all') %>
		<% end %>
	</div>

	<div id="answers" class="span6">
		<h3>Answers to questions</h3>
		<% if @user.answers.empty? %>
			<p class="hint">This user has no marked answers yet.</p>
		<% else %>
			<% @user.answers.keep_if{ |a| !a.answer_to_id.nil? }.each do |answer| %>
				<% if can? :read, answer.origin %>
	    	<%= render :partial => 'posts/post_teaser', :locals => { :post => answer.origin} %>
	    	<% end %>
			<% end %>
			<%= link_to "view more", user_path(@user, show: 'all')%>
		<% end %>
	</div>
</section>
<hr />

<% if @courses.count > 0 %>
<section>
	<h3>Maintainer or editor of these courses</h3>
	<%= render 'courses/courses-list' %>
</section>
<% end %>

<% if can? :manage, @user %>
	<p>
		<%= link_to 'Edit user', edit_user_path(@user), class: 'btn btn-mini btn-warning' %>
		<%= link_to "Delete user", @user, :data => { :confirm => "Are you sure that you want to delete #{@user.full_name}?" }, method: :delete, class: 'btn btn-mini btn-danger' %>
	</p>
<% end %>
</div>
