<section class="row">
<header class="large-10 columns">
  <h2>
    <%= @user %>
  </h2>
  <% if @user.admin? %>
    <span class="label admin"><%= t('users.role.is_admin') %></span>
  <% end %>
</header>

<div class="large-2 columns">

  <%= gravatar_image_tag(@user.alternative_email, :alt => @user, :gravatar => {:default => :wavatar, :size => 150, :secure => true },  class: 'profile-picture')%>
</div >
</section>

<section class="tabs-wrapper">
  <ul class="tabs">
    <li data-tab-content="about" data-user-id="<%= @user.id %>" class="active"><%= link_to t('users.tabs.about'), '#' %></li>
    <!-- <li data-tab-content="groups" data-user-id="<%= @user.id %>" ><%= link_to t('users.tabs.groups'), '#' %></li>
    <li data-tab-content="questions" data-user-id="<%= @user.id %>" ><%= link_to t('users.tabs.questions'), '#' %></li>
    <li data-tab-content="announcements" data-user-id="<%= @user.id %>" ><%= link_to t('users.tabs.announcements'), '#' %></li>
    <li data-tab-content="topics" data-user-id="<%= @user.id %>" ><%= link_to t('users.tabs.topics'), '#' %></li>-->
    <% if can? :update, @user %>
    <li data-tab-content="settings" data-user-id="<%= @user.id %>" class="alert" ><%= link_to t('users.tabs.settings'), edit_user_registration_path %></li>
    <% end %>
  </ul>

  <div class="tab-content">
    <%= render 'users/about' %>
  </div>
</section>
