<h3>General email settings</h3>
<%= form_for(email_setting, :class => 'form-horizontal') do |f| %>
  <div class="control-group">
    
    <div class="controls">
    	
      <label class="checkbox">
      <%= f.check_box :emails_for_subscribtions %><%= "Email notifications for updates in subscribed courses." %>
      </label>
      <p class="hint">You can specify for which course you will receive email notifications below, after saving.</p>

      <label class="checkbox">
      <%= f.check_box :notification_when_author %><%= "Email notifications on new comments and answers." %>
      </label>
      <p class="hint">You will receive email notifications on new comments and answers in posts were you have participated in.</p>

      <!-- <label class="checkbox">
      <%= f.check_box :daily %><%= "Receive a daily email with updates in your courses." %>
      </label>
      <p class="hint">You will receive an overview of all updates in your subscribed courses in one email every day.</p>

      <label class="checkbox">
      <%= f.check_box :weekly %><%= "Receive weekly emails with updates on auditorium." %>
      </label>
      <p class="hint">You will receive an overview of all updates on auditorium in one email every friday.</p> -->
    </div>
  </div>
  <div class="controls">
     <%= f.submit "Save general email settings", :class => 'btn btn-primary', 'data-disable-with' => 'Saving...' %>
  </div> 
<% end %>
