
<%
  cols = 3 if cols.nil?
  cols = 12/cols
  i = 0
%>
<div class="row-fluid" id="grid" >
  <% @lectures.each do |lecture| %>
    <div class="span<%=cols%> well" >
      <h3><%= link_to lecture.name, lecture %></h3>
      <em><%= lecture.parent.name %></em>
      <hr />
      <% if lecture.courses.count > 0 %>
        <p><%= "Go to course in:" %>
        <% lecture.courses.each do |course| %>
        <%= link_to course.term.code, course_path(course) %><%= "," unless lecture.courses.last == course %>
        <% end %>
        </p>
      
      <% else %>
        <p class='hint'><%= link_to 'Create the course for this semester!', new_course_path(:lecture_id => lecture.id, :name => lecture.name, :term_id => Term.last.id, :url => lecture.url, :description => lecture.description) %></p>
      <% end %>
      <% if current_user and current_user.admin? %>
        <p>
          <%= link_to 'new course', new_course_path(:lecture_id => lecture.id), :class => 'btn btn-small btn-primary' %>
          <%= link_to 'edit lecture', edit_lecture_path(lecture) , { :class => 'btn btn-small btn-warning' }  %>
        </p>
      <% end %>
    </div>
    <% i=i+1 %>
    <% if i % (12/cols) == 0 %>
    </div>

    <div class="row-fluid" >
    <% end %>

  <% end %>
</div>
  <%=paginate @lectures %>

