<% if @lectures.count > 0 %>
<% if params[:q] %><h3>Search results <small><%= link_to content_tag('i', '', class: 'icon-link'), '#', 'onclick' => "javascript:window.prompt('Copy link to clipboard: CTRL+C or CMD+C', '#{search_url(:query => params[:q])}'); return false", class: 'copy-link' %></small></h3><% end %>
<%
  cols = 3 if cols.nil?
  cols = 12/cols
  i = 0
%>
<div class="row-fluid" id="grid" >
  <% @lectures.each do |lecture| %>
    <div class="span<%=cols%> well" >
      <h3><%= link_to lecture.name, lecture %></h3>
      <hr />
      <% if lecture.courses.count > 0 %>
        <p><%= "Go to course in:" %>
        <% lecture.courses.each do |course| %>
        <%= link_to course.term.code, course_path(course) %><%= "," unless lecture.courses.last == course %>
        <% end %>
        </p>
      
      <% else %>
        <p class='hint'><%= link_to 'Create the course for this semester!', new_course_path(:lecture_id => lecture.id, :name => lecture.name, :term_id => Term.last.id, :url => lecture.url, :description => lecture.description) %></p>
      <% end %>
      <% if current_user and current_user.admin? %>
        <p>
          <%= link_to 'new semester', new_course_path(:lecture_id => lecture.id), :class => 'btn btn-small btn-primary' %>
          <%= link_to 'edit lecture', edit_lecture_path(lecture) , { :class => 'btn btn-small btn-warning' }  %>
        </p>
      <% end %>
    </div>
    <% i=i+1 %>
    <% if i % (12/cols) == 0 %>
    </div>

    <div class="row-fluid" >
    <% end %>

  <% end %>
</div>
<%=paginate @lectures %>
<% else %>
<p class="hint">No lectures were found. If this lecture should exist <%= link_to 'create it!', new_lecture_path %>.</p>
<% end %>
