<section>
<table class="table table-striped table-condensed">
  <thead>
  <tr>
    <th><%= sortable "chair", "Chair"  %></th>
    <th><%= sortable "name", "Lecture"%></th>
    <% if current_user and current_user.admin? %>
    <th><%= "Courses"%></th>
    <th>Crud</th>
    <% end %>
  </tr>
  </thead>
  <tbody class="table-bordered">

<% lectures.each do |lecture| %>
  <tr data-id="<%= lecture.id%>" class="lecture">
    <td class="chair"><%= link_to lecture.chair.name, lecture.chair %></td>
    <td class="lecture">
      <% if lecture.has_current_course? %>
        <%= link_to lecture.name, :controller => 'courses', :action => 'show', :id => lecture.current_course.id %>
      <% else %>
        <%= link_to lecture.name, lecture %>
      <% end %>
    </td>
    <% if current_user and current_user.admin? %>
    <td class="courses"><%= lecture.courses.count%></td>
    <td>
      <%= link_to 'Edit', edit_lecture_path(lecture), { :class => 'btn btn-mini btn-warning' }  %>
      <%= link_to 'Destroy', lecture, confirm: 'Are you sure?', method: :delete,  :class => 'btn btn-mini btn-danger'  %>
    </td>
    <% end %>

  </tr>
<% end %>
  </tbody>
</table>
</section>
