<h2><%= @lecture.name %></h2>
<h3><%=link_to @lecture.chair.name, @lecture.chair %></h3>


<div class="container">
<% if @lecture.description and not @lecture.description.eql? "null" %>
  <p><%= @lecture.description %></p>
<% else %>
  <p>There's no description available, yet!</p>
<% end %>

<h3>Courses in this lecture.</h3>
<% if @lecture.courses.count > 0 %>
  
  <% @lecture.courses.each do |course| %>
    <%= render :partial => 'courses/single_course', :locals => { :course => course }%>
  <% end %>
<% else %>
  <p class="hint">There are no courses yet.
    <%= link_to 'New semester course', new_course_path(:lecture_id => @lecture.id, :name => @lecture.name, :term_id => Term.last.id, :url => @lecture.url, :description => @lecture.description) %>

  </p>
<% end %>
<%= render "lectures/access_buttons", :lecture=> @lecture%>

</div>