<h2><%= @lecture.name %></h2>
<h3><%=link_to @lecture.chair.name, @lecture.chair %></h3>


<div class="container">
<% if @lecture.description and not @lecture.description.eql? "null" %>
  <p><%= @lecture.description %></p>
<% else %>
  <p>There's no description available, yet!</p>
<% end %>

<% if @courses.count > 0 %>
<div class="courses-table">
  <%= render 'courses/courses-list' %>
</div>
<% else %>
<p class="hint">There is no course in this list yet. <%= link_to 'Add new semester.', new_course_path(:lecture_id => @lecture.id)  %></p>
<% end %>
<%= render "lectures/access_buttons", :lecture=> @lecture%>

</div>