<div class="center container span6">
  <% devise_error_messages! %>
  

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset class="well span5">
    <h2>Sign in!</h2>
    <div class="control-group">
        <%= f.label :email, 'Email address', :class => 'accessibility'%>
      <div class="controls">
        <%= f.text_field :email, :placeholder => 'Email address', :class => "span5"%>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :password, 'Password', :class => 'accessibility'%>
      <div class="controls">
        <%= f.password_field :password, :placeholder => 'Password', :class => "span5"%>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.label :remember_me do %>
          <%= f.check_box :remember_me %> <%= 'Remember me for 14 days.' %>
        <% end %>   
      </div>
    </div>
    
    <div class="controls">
        <%= f.submit "Sign in", :class => 'btn btn-large btn-primary span5', 'data-disable-with' => 'Signing in...' %>
    </div>

     <p class="hint"><a href="mailto:inf-auditorium@groups.tu-dresden.de">Registered with a non-TU Dresden email address? Send us an email!</a></p>
      <p class='help-block'><%= render :partial => "devise/shared/links" %></p>
  </fieldset>
  <%= hidden_field_tag :url_hash, :value => "" %>
  <% end %>
</div>