<div class="center container span4">
  <% devise_error_messages! %>
  

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <fieldset class="well span3">
    <h2>Sign in!</h2>
    <div class="control-group">
        <%= f.label :email, 'Email address', :class => 'accessibility'%>
      <div class="controls">
        <%= f.text_field :email, :placeholder => 'Email address', :class => "span3"%>
      </div>
    </div>

    <div class="control-group">
        <%= f.label :password, 'Password', :class => 'accessibility'%>
      <div class="controls">
        <%= f.password_field :password, :placeholder => 'Password', :class => "span3"%>
      </div>
    </div>

    
    <div class="controls">
        <%= f.submit "Sign in", :class => 'btn btn-large btn-primary span3', 'data-disable-with' => 'Signing in...' %>
    </div>
    <hr />
      <p class='help-block'><%= render :partial => "devise/shared/links" %></p>
  </fieldset>
  <% end %>
</div>