
<%
  cols = 3 if cols.nil?
  cols = 12/cols
  i = 0
%>
<div class="row-fluid" id="grid">
  <% objects.each do |object| %>
    <div class="span<%=cols%> well" >

      <div class="row-fluid" >

        <div class="span12" >
          <h3><%= link_to object.name, object %></h3>
          <h4> <%= object.parent.name unless object.parent.nil? %></h4>
          <br />
          <%if  object.children.count > 0 %>
            <ul class="unstyled">
              <% object.children.each do |l| %>
                <li><%= link_to l, l %></li>
              <% end %>
            </ul>
          <% end %>
        </div>
        <div class="span12" >
        <%= render "faculties/access_buttons", :faculty => object %>

        </div>
      </div>

    </div>
    <% i=i+1 %>
    <% if i % (12/cols) == 0 %>
    </div>

    <div class="row-fluid" >
    <% end %>

  <% end %>
</div>
