<p id="notice"><%= notice %></p>

<header>
<h2><%= @faculty.name %></h2>
</header>

<%= render "institutes/simple_list", :institutes=> @faculty.institutes%>

<footer>
  <%= link_to faculties_path, :class => 'btn btn-mini' do %>
    <span class="icon-arrow-left"> back</span>
  <% end %>
<%= render "faculties/access_buttons", :faculty => @faculty%>
</footer>
