<header>
  <h2 class="subheader"><%= t('groups.show.announcements.header') %></h2>
</header>

<%= form_for([@group, @announcement = Announcement.new]) do |f| %>
  <ul class="no-style announcement">
    <li class="input-fields" class="input-fields">
      <noscript><%= f.label :subject %></noscript>
      <%= f.text_field :subject, placeholder: t('announcements.input.new') %>
    </li>
    <div id='new-announcement-fields' data-id='new-announcement-fields'>
      <%= render 'shared/new_announcement_fields', f: f %>
    </div>  
  </ul>
<% end %>

<ul class="no-style announcement">
  
<% limit ||= nil%>

<% @group.announcements.limit(limit).each_with_index do |announcement| %>
  <li>
    <span class="rating"><%= announcement.rating %></span>
    <span class="subject"><%= link_to announcement.subject, announcement %></span>
    <span class="right">
      <small><%= l(announcement.created_at, format: :short) %></small>
      <% if can? :manage, announcement %>
      <span class="actions">
        <%= link_to content_tag('i', '', class: 'icon-pencil'), edit_announcement_path(announcement), alt: "#{t('announcements.actions.edit')}", title: "#{t('announcements.actions.edit')}" %>
        <%= link_to content_tag('i', '', class: 'icon-remove'), announcement, alt: "#{t('announcements.actions.delete')}", title: "#{t('announcements.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this announcement?' %>
        </span>
      <% end %>
    </span>
  </li>
<% end %>
</ul>  

<% unless limit.nil? %>
  <span class="right"><small><%= link_to t('announcements.show_all'), group_announcements_path(@group) %></small></span>
<% end %>