<% if params[:action].eql? 'index' %>
  <header>
    <h2>
      <%= t('groups.show.announcements.header') %>
      <small><%= link_to @group.title, group_path(@group) %></small>
    </h2>
  </header>
<% else %>
  <header>
  <h2>
    <%= t('groups.show.announcements.header') %>
  </h2>
</header>
<% end %>

<% if can? :manage, @group %>
  <%= form_for([@group, @announcement ||= @group.announcements.build]) do |f| %>
    <ul class="no-style announcement">
      <li class="input-fields" class="input-fields">
        <%= f.label :subject, t('forms.labels.subject'), class: 'accessibility' %>
        <%= f.text_field :subject, placeholder: t('announcements.input.new') %>
      </li>
      <div id='new-announcement-fields' data-id='new-announcement-fields'>
        <%= render 'shared/new_announcement_fields', f: f %>
      </div>  
    </ul>
  <% end %>
<% end %>

<% if announcements.size > 1 %>
  <ul class="posts condensed">  
  <% limit ||= nil%>
  <% announcements.each_with_index do |announcement| %>
    <li class="announcement">
      <div class="content"> 
      <span class="rating"><%= announcement.rating > 0 ? "+#{announcement.rating}" : announcement.rating %></span>
      <span class="title"><h2><%= link_to truncate(announcement.subject, length: 150), announcement %></h2></span>

    </div>
    <div class="footer hide-for-small">
      <span class="post-details">
        <%= t('posts.general.authored') %>
        <%= announcement.author %> &middot;
        <%= t('general.label.views', count: announcement.views.to_i) %> &middot;
        <%= t('general.label.comments', count: announcement.comments.size) %>
      </span>
      <span class="right">
        <span class="last_activity"><%= announcement.last_activity.present? ? l(announcement.last_activity, format: :short) : l(announcement.updated_at, format: :short) %></span>
        <% if can? :manage, announcement %> 
          <span class="actions">
            &middot;
            <%= link_to fa_icon('pencil', text: t('general.actions.edit')), edit_announcement_path(announcement), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
            <%= link_to fa_icon('times', text: t('general.actions.remove')), announcement, alt: "#{t('announcements.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this post?' %>
          </span>
        <% end %>
      </span>
    </div>
    </li>
  <% end %>
  </ul>  

  <% unless limit.nil? or announcements.size < limit %>
    <span class="right"><small><%= link_to t('announcements.actions.view_all'), group_announcements_path(@group) %></small></span>
  <% end %>
  <%= paginate announcements if params[:action].eql? 'index' %>
<% else %>
  <p class="hint"><%= can?(:manage, @group) ? t('announcements.hints.no_entries.moderator') : t('announcements.hints.no_entries.member') %></p>
<% end %>