<span class="ribbon bigger">
  <%= t('posts.types.answer') %>
  <span data-id="<%= dom_id(answer) %>" class="rating bright"><%= render 'shared/rating', post: answer %></span>
</span>
<div class="post-content">
  <%= markdown(answer.content) %>
</div>

<div class='checkmark'>
  <%= render 'answers/checkmark', answer: answer %>
</div>

<div class="post-footer">
  <span class="answer-information">
      <%= t('posts.general.authored') %>
      <%= link_to answer.author, user_path(answer.author) %>
      <%= t('posts.general.time', time: answer.last_activity.present? ? l(answer.last_activity, format: :short) : l(answer.updated_at, format: :short)) %>
  </span>

  <span class="right">
    <% if can? :manage, answer %> 
      <span class="right clearing">
        <span class="actions">
          <%= link_to fa_icon('pencil', text: 'edit'), edit_answer_path(answer), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
          <%= link_to fa_icon('times', text: 'remove'), answer, alt: "#{t('posts.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this answer?' %>
        </span>
      </span>
    <% end %>
  </span>
  <div class="clearfix"></div>

</div>