<header>
  <h2 class="subheader"><%= "#{t('posts.general.answers')}" %></h2>
</header>

<% @question.answers.each do |answer| %>
  <article id="answer" data-id="<%= dom_id(answer)%>">
     <%= render 'shared/answer', answer: answer %>
  </article>

  <section class="comments-section">
    <%= render 'shared/comments', commentable: answer %>
  </section>
<% end %>


<header>
  <h3><%= t('answers.headers.new') %></h3>
</header>
<%= form_for([@question, @answer = Answer.new]) do |f| %>
  <%= f.label :content, t('answers.labels.content'), class: 'accessibility' %>

  <%= render 'shared/text_editor_buttons', element_id: dom_id(@answer), element_name: @answer.class.name.downcase %>
  <%= f.text_area :content, required: true, 'data-post-type' => 'answer' %>
  
  <div class="preview">
    <div id="answer-preview"></div>
  </div>
  <span class="right">
    <%= f.submit t('answers.actions.submit'), id: 'submit-answer', class: 'tiny button answer' %>
  </span>
  <div class="clearfix"></div>
<% end %>