<% unless commentable.class.name.eql? 'Question' or commentable.class.name.eql? 'Answer' %>
<header>
  <h4 class="subheader"><%= t('posts.general.comments') %></h4>
</header>
<% end %>
<ul class="no-style">
  <% commentable.comments.each do |comment| %>
    <%= render 'shared/comment', comment: comment %>  
  <% end %>

  <% if commentable.instance_of?(Question) or commentable.instance_of?(Answer) %>
    <li class="link">
      <%= link_to t('comments.actions.new'), '#', 'data-commentable_id' => commentable.id, 'data-commentable_type' => commentable.class.name, 'data-id' => 'toggle-comment-form', class: 'button new-comment' %>
    </li>
  <% end %>

  <%= form_for([commentable, @comment = Comment.new], html: { class: ("hidden #{commentable.id} #{commentable.class.name}" if commentable.instance_of?(Question) or commentable.instance_of?(Answer)) }) do |f| %>
    <li>
      <noscript><%= f.label :content, t('comments.label.content') %></noscript>
      <%= f.text_area :content, placeholder: t('comments.placeholder.content'), required: true, autofocus: true %>
      <%= f.submit t('comments.actions.submit'), id: 'submit-comment', class: 'tiny button right comment' %>
      <div class="clearfix"></div>
    </li>
  <% end %>
</ul>