<li id="<%= dom_id(comment) %>">
  <div class="content"><%= comment.content %></div>
  <div class="comment-footer">
    <span data-id='comments-<%= comment.id %>' class="rating">
      <%= render 'shared/rating', post: comment %>
    </span>
    <span class="right">
      <%= comment.author.full_name %> &middot;
      <%= l(comment.created_at, format: :short) %>
      <% if can? :manage, comment %>
      <span class="actions">
        <%= link_to fa_icon('pencil'), edit_comment_path(comment) %>
        <%= link_to fa_icon('times'), comment, alt: "#{t('comments.actions.delete')}", title: "#{t('comments.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this comment?' %>
        </span>
      <% end %>
    </span>
  </div>
</li>