<li id="<%= dom_id(comment) %>">
  <div class="post-content"><%= markdown comment.content %></div>
  <div class="post-footer">
    <span data-id='<%= dom_id(comment) %>' class="rating dark">
      <%= render 'shared/rating', post: comment %>
    </span>
    &middot;
    <span class="post-information">
      <%= t('posts.general.authored') %>
      <%= comment.author %>
      <%= t('posts.general.time', time: comment.last_activity.present? ? l(comment.last_activity, format: :short) : l(comment.updated_at, format: :short)) %>
    </span>

    <span class="right">
      <% if can? :manage, comment %> 
        <span class="right clearing">
          <span class="actions">
            <%= link_to fa_icon('pencil', text: t('general.actions.edit')), edit_comment_path(comment), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
            <%= link_to fa_icon('times', text: t('general.actions.remove')), comment, alt: "#{t('posts.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this comment?' %>
          </span>
        </span>
      <% end %>
    </span>
    <div class="clearfix"></div>
  </div>
</li>