<div class="large-6 columns">
  <h2><%= t('general.footer.headers.about') %></h2>
  <ul class="no-style">
    <li><%= link_to t('general.footer.links.story'), story_path %></li>
    <li><%= link_to t('general.footer.links.imprint'), imprint_path %></li>
    <li><%= link_to t('general.footer.links.privacy'), privacy_path %></li>
  </ul>

</div>
<div class="large-6 columns">
  <h2><%= t('general.footer.headers.support') %></h2>
  <ul class="no-style">
    <li><%= link_to t('general.footer.links.support_group'), '/groups/110804009' %></li>
    <li><%= link_to t('general.footer.links.github'), 'http://github.com/auditorium/auditorium' %></li>
    <li><%= link_to t('general.footer.links.email_us'), 'mailto:inf-auditorium@groups.tu-dresden.de' %></li>
    <li>
      <%= link_to t('general.languages.german'), params.merge(locale: 'de') %> | 
      <%= link_to t('general.languages.english'), params.merge(locale: 'en') %>
    </li>
  </ul>
</div> 