<div class="markdown-table">
  <table class="table">
    <thead>
      <tr>
        <th><%= t('markdown.titles.result')%></th>
        <th><%= t('markdown.titles.code')%></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><%= markdown t('markdown.text_formatting') %></th>
        <th><pre><%= t('markdown.text_formatting') %></pre></th>
      </tr>
      <tr>
        <th><%= markdown t('markdown.code_inline') %></th>
        <th><pre><%= t('markdown.code_inline') %></pre></th>
      </tr>
      <tr>
        <th><%= markdown t('markdown.code_block') %></th>
        <th><pre><%= t('markdown.code_block') %></pre></th>
      </tr>
      <tr>
        <th><%= markdown t('markdown.latex_inline') %></th>
        <th><pre><%= t('markdown.latex_inline') %></pre></th>
      </tr>
      <tr>
        <th><%= markdown t('markdown.latex_block') %></th>
        <th><pre><%= t('markdown.latex_block') %></pre></th>
      </tr>
      <tr>
        <th><%= markdown t('markdown.list') %></th>
        <th><pre><%= t('markdown.list') %></pre></th>
      </tr>
      <tr>
        <th><%= markdown t('markdown.headlines') %></th>
        <th><pre><%= t('markdown.headlines') %></pre></th>
      </tr>
    </tbody>
  </table>
</div>