<div class="navbar navbar-inverse" id='navigation'>
  <div class="navbar-inner"> 
    <div class="container"> 
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <ul class="nav">
        <li class="hidden-desktop"><%= link_to 'auditorium', home_path, class: 'brand' %></li>
        <li class="hidden-phone"><%= link_to 'Home', home_path, class: "hidden-phone" %></li>
      </ul>
      <% if signed_in? %>
      <ul class="nav">  

        <li><%= link_to 'Subscribed courses', my_courses_path, :title => 'My Courses', class: 'hidden-phone' %></li>
        <li><%= link_to 'Search', search_path, class: 'hidden-desktop' %></li>
      </ul>

      <ul class="nav pull-right visible-tablet">
        <li class="notification-button">
          <%= render :partial => 'shared/notifications' %>
        </li>
        <li class='<%= "admin" if current_user.admin? %>' >
          <%= link_to (current_user.username? ? current_user.username : current_user.email.split('@')[0]), user_path(current_user) %> 
        </li>
      </ul>
      <% end %>
      <div class="nav-collapse subnav-collapse"> 
        <% if signed_in? %>
          <ul class="nav">
            <li><%= link_to 'Subscribed courses', my_courses_path, :title => 'My Courses', class: 'visible-phone' %></li>
            <li><%= link_to 'Courses by term', terms_path, :title => 'Faculties' %></li>
            <li><%= link_to 'Faculty', faculties_path, :title => 'Faculties' %></li>
            <% if help = Course.find_by_name('Support Center') %><li><%= link_to 'Help', course_path(help) %></li><% end %>
          </ul>
          <ul class="nav pull-right">
            <%= form_tag search_path, :method => 'get', :class => 'navbar-search visible-desktop',:remote => false do %>
              <%= text_field_tag :query, nil, :placeholder => 'Search', :id => 'searchbar', class: 'search-query span2' %>
            <% end %>
            <li class="notification-button visible-phone visible-desktop"><%= render :partial => 'shared/notifications' %></li>
            
            <li class='<%= "admin" if current_user.admin? %> hidden-tablet' >
              <%= link_to (current_user.username? ? current_user.username : current_user.email.split('@')[0]), user_path(current_user) %> 
            </li>
            <li><%= link_to 'Settings', edit_user_registration_path %></li>

            <li>
              <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
            </li>
          </ul>    
        <% else %>
          <ul class="nav pull-right">
            <li><%= link_to 'Sign in', new_user_session_path %></li>
            <li><%= link_to 'Sign up', new_user_registration_path %></li>
          </ul>
        <% end %>  
      </div><!-- /.nav-collapse --> 
    </div> 
  </div>
  <%= render "shared/breadcrumbs" %>
</div>
