<div class="navbar" id='navigation'>
  <div class="navbar-inner">

    <div class="container">

      <!--
      <a class="btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-plus"></span> </a>
      -->

      <ul class="nav">
        <% if signed_in? %>
        <li>
        <%= link_to( home_path ) do %>
          <i class="icon-home"></i>
          <span class="hidden-phone"> Home </span>
        <% end%>
        </li>

        <li>
        <%= link_to( my_courses_path, :title => 'Courses' ) do %>
          <i class="icon-book"></i>
          <span class="hidden-phone"> Courses </span>
        <% end%>
        </li>

        <li>
        <%= link_to( my_faculties_path, :title => 'Faculties') do %>
          <i class="icon-beaker"></i>
          <span class="hidden-phone"> Faculties </span>
        <% end%>
        </li>


        <% end %>
      </ul>
      
       
      <ul class="nav pull-right">
        <%= render "shared/user_li" %>
      </ul>
      

    </div>

  </div>
<%= render "shared/breadcrumbs" %>
</div>
