<li class="input-fields" class="input-fields">
  <noscript><%= f.label :content %></noscript>
  <%= f.text_area :content, placeholder: t('questions.placeholder.content') %>
</li>

<li class="input-fields">
  <%= f.label :tag_tokens, t('tags.label') %>
  <%= f.text_field :tag_tokens, data: {load: @question.tags} %>
</li>

<li class="input-fields">
<%= f.label :is_private do %>
  <%= f.check_box :is_private %>
  <%= t('questions.is_private.label') %>
<% end %>
<p class="hint"><%= t('questions.is_private.hint') %></p>
</li>

<div class="preview">
  <div id="question-preview"></div>
</div>

<li class="input-fields">
  <%= f.submit t('questions.new.submit'), id: 'submit-question', class: 'tiny button right submit' %>
  <%= link_to t('general.links.show_preview'), '#', class: 'toggle-preview tiny button review-button right', 'data-id' => 'question' %>
  <div class="clearfix"></div>
</li>