<li class="input-fields" class="input-fields">
  <noscript><%= f.label :content %></noscript>
  <%= f.text_area :content %>
</li>

<li class="input-fields">
  <noscript><%= f.label :tag_tokens %></noscript>
  <%= f.text_field :tag_tokens, data: {load: @question.tags} %>
</li>

<li class="input-fields">
  <%= f.submit t('questions.new.submit'), id: 'submit-question', class: 'tiny button right question' %>
  <div class="clearfix"></div>
  
</li>