<li class="input-fields" class="input-fields">
  <noscript><%= f.label :content %></noscript>
  <%= f.text_area :content, placeholder: t('questions.placeholder.content') %>
</li>

<li class="input-fields">
  <noscript><%= f.label :tag_tokens %></noscript>
  <%= f.text_field :tag_tokens, data: {load: @question.tags} %>
</li>

<li class="preview">
  <small><%= link_to t('general.links.show_preview'), '#', class: 'toggle-preview', 'data-id' => 'announcement' %></small>
  <div id="announcement-preview" ></div>
</li>

<li class="input-fields">
  <%= f.submit t('questions.new.submit'), id: 'submit-question', class: 'tiny button right question' %>
  <div class="clearfix"></div>
</li>