<li class="input-fields" class="input-fields">
  <%= render 'shared/text_editor_buttons', element_id: dom_id(@question), element_name: @question.class.name.downcase %>
  <%= f.label :content, class: 'accessibility' %>
  <%= f.text_area :content, placeholder: t('questions.placeholder.content') %>

  <div class="preview">
    <div id="question-preview"></div>
  </div>
</li>

<li class="input-fields">
  <%= f.label :tag_tokens, t('tags.label') %>
  <%= f.text_field :tag_tokens, data: {load: @question.tags} %>
</li>

<li class="input-fields">
<%= f.label :is_private do %>
  <%= f.check_box :is_private %>
  <%= t('questions.is_private.label') %>
<% end %>
<p class="hint"><%= t('questions.is_private.hint') %></p>
</li>

<li class="input-fields">
  <%= f.submit t('questions.actions.submit'), id: 'submit-question', class: 'tiny button right submit' %>
  <div class="clearfix"></div>
</li>