<li class="input-fields" class="input-fields">
  <noscript><%= f.label :content %></noscript>
  <%= f.text_area :content %>
</li>

<li class="input-fields">
  <noscript><%= f.label :tag_tokens %></noscript>
  <%= f.text_field :tag_tokens, data: {load: @topic.tags} %>
</li>

<li class="input-fields">
  <%= f.submit t('topics.new.submit'), id: 'submit-topic', class: 'tiny button right topic' %>
  <div class="clearfix"></div>
  
</li>