<li class="<%= post.class.name.parameterize %>" data-id="<%= post.id %>" data-group-id="<%= dom_id(post.group) %>">
  <span class="ribbon">
    <%= t('posts.label', type: post.class.name) %>

    <span class="bookmark">
      <% if current_user.is_follower?(post) %>
        <%= link_to fa_icon('star'), following_group_path(post.group, method: 'unfollow'), remote: true, method: :post, title: t('groups.unfollow_link_text') %>
      <% else %>
        <%= link_to fa_icon('star-o'), following_group_path(post.group, method: 'follow'), remote: true, method: :post, title: t('groups.follow_link_text') %>
      <% end %>
      </span>
  </span>
  <div class="content"> 
    <span class="rating"><%= post.rating.nil? ? 0 : (post.rating > 0 ? "+#{post.rating}" : post.rating) %></span>
    <span class="title"><h2><%= link_to truncate(post.subject, length: 150), post %></h2></span>

  </div>
  <div class="footer hide-for-small">
    <span class="post-details">

      
      <%= link_to post.group.title, group_path(post.group), class: 'group-link' %> &middot;
      <%= pluralize(post.views, 'view') %> &middot;
      <% if post.class.name.eql? 'Question' %><%= pluralize(post.answers.size, 'answer') %> &middot;<% end %>
      <%= pluralize(post.comments.size, 'comment') %>
    </span>
    <span class="right">
      <span class="created_at"><%= l(post.created_at, format: :short) %></span>
      <% if can? :manage, post %> 
        <span class="actions">
          &middot;
          <%= link_to fa_icon('pencil', text: 'edit'), edit_post_path(post), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
          <%= link_to fa_icon('times', text: 'remove'), post, alt: "#{t('posts.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this post?' %>
        </span>
      <% end %>
    </span>
  </div>
</li>