<% if can? :read, post %>
<li class="<%= 'private-' if post.class.name.eql? 'Question' and post.is_private%><%= post.class.name.parameterize %>" data-id="<%= post.id %>" data-group-id="<%= dom_id(post.group) %>">
  <span class="ribbon">
    <% if post.class.name.eql? 'Question' and post.is_private %>
      <%= fa_icon('lock', title: t('questions.is_private.icon_hint'), class: 'private') %>
    <% end %>
    <%= t("posts.label.#{post.class.name.downcase}") %>

    <span class="bookmark">
      <% if current_user.is_follower?(post) %>
        <%= link_to fa_icon('star'), following_group_path(post.group, method: 'unfollow'), remote: true, method: :post, title: t('groups.unfollow_link_text') %>
      <% else %>
        <%= link_to fa_icon('star-o'), following_group_path(post.group, method: 'follow'), remote: true, method: :post, title: t('groups.follow_link_text') %>
      <% end %>
      </span>
  </span>
  <div class="content"> 
    <span class="rating"><%= post.rating.nil? ? 0 : (post.rating > 0 ? "+#{post.rating}" : post.rating) %></span>
    <span class="title"><h2><%= link_to truncate(post.subject, length: 150), post %></h2></span>

  </div>
  <div class="post-footer hide-for-small">
    <%= t('posts.general.authored') %>
    <%= link_to post.author, user_path(post.author) %>
    <%= t('posts.general.group') %> 
    <%= link_to post.group.title, group_path(post.group) %>
    <%= t('posts.general.time', time: post.last_activity.present? ? l(post.last_activity, format: :short) : l(post.updated_at, format: :short)) %>
    <span class="right">
      <% if can? :manage, post %> 
        <span class="actions">
          <%= link_to fa_icon('pencil', text: 'edit'), url_for(action: 'edit', controller: post.class.name.pluralize.downcase, id: post.id), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
          <%= link_to fa_icon('times', text: 'remove'), post, alt: "#{t('posts.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this post?' %>
        </span>
      <% end %>
    </span>
  </div>
</li>
<% end %>