<% if params[:action].eql? 'index' %>
  <header>
    <h2>
      <%= t('groups.show.questions.header') %>
      <small><%= link_to @group.title, group_path(@group) %></small>
    </h2>
  </header>
<% else %>
  <header>
    <h2><%= t('groups.show.questions.header') %></h2>
  </header>
<% end %>

<%= form_for([@group, @question]) do |f| %>
  <ul class="no-style question">
    <li class="input-fields" class="input-fields">
      <%= f.label :subject, t('forms.labels.subject'), class: 'accessibility' %>
      <%= f.text_field :subject, placeholder: t('questions.input.new') %>
    </li>
    <div id='new-question-fields' data-id='new-question-fields'><%= render 'shared/new_question_fields', f: f %></div>  
  </ul>
<% end %>

<% if @group.questions.size > 1 %>
  <ul class="posts condensed">
  <% limit ||= nil %>
    <% @group.questions.order('last_activity desc, updated_at desc').limit(limit).delete_if{ |q| cannot? :read, q }.each_with_index do |question| %>
      <li class="question">
        <div class="content"> 
        <span class="rating"><%= question.rating > 0 ? "+#{question.rating}" : question.rating %></span>
        <span class="title"><h2><%= link_to truncate(question.subject, length: 150), question %></h2></span>

      </div>
      <div class="footer hide-for-small">
        <span class="post-details">
          <%= t('posts.general.authored') %>
          <%= link_to question.author, user_path(question.author) %> &middot;
          <%= t('general.label.views', count: question.views.to_i) %> &middot;
          <% if question.class.name.eql? 'Question' %><%= t('general.label.answers', count: question.answers.size) %> &middot;<% end %>
          <%= t('general.label.comments', count: question.comments.size) %>
        </span>
        <span class="right">
          <span class="last_activity"><%= question.last_activity.present? ? l(question.last_activity, format: :short) : l(question.updated_at, format: :short) %></span>
          <% if can? :manage, question %> 
            <span class="actions">
              &middot;
              <%= link_to fa_icon('pencil', text: t('general.actions.edit')), edit_question_path(question), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
              <%= link_to fa_icon('times', text: t('general.actions.remove')), question, alt: "#{t('questions.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this post?' %>
            </span>
          <% end %>
        </span>
      </div>
    </li>
    <% end %>
  </ul> 

  <% unless limit.nil? or @group.questions.size < limit %>
    <span class="right"><small><%= link_to t('questions.actions.view_all'), group_questions_path(@group) %></small></span>
  <% end %>
<% else %>
  <p class="hint"><%= t('questions.hints.no_entries') %></p>
<% end %>