<% if params[:query].present? %>
  <!-- <span class="right"><%= link_to fa_icon('times'), '#', class: 'close-search-results' %></span> -->
  <header><h2><%= t('general.search.results.header', query: params[:query]) %></h2></header>

  <ul class="search-results-list">
    <li><b><%= t('general.search.results.found') %></b></li>
    <li><%= t('general.search.results', type: 'group', count: @groups.size) %></li>
    <li><%= t('general.search.results', type: 'question', count: @questions.size) %></li>
    <li><%= t('general.search.results', type: 'announcement', count: @announcements.size) %></li>
    <li><%= t('general.search.results', type: 'topic', count: @topics.size) %></li>
  </ul>

  <% if @groups.size > 0 %>
    <article id='groups'>
      <header class='sub-header'>
        <h4><%= t('search.headers.groups') %></h4>
      </header>
        <ul class="groups">
          <% @groups.limit(5).each do |group| %>
            <li class="group <%= group.group_type %>-group <%= 'following' if group.followers.include? current_user %>" data-id="<%= dom_id(group) %>">
              <%= render 'groups/group', group: group %>
            </li>
          <% end %>
        </ul>
    </article>
  <% end %>

  <% if @questions.size > 0 %>
    <article id='questions'>
      <header class='sub-header'>
        <h4><%= t('search.headers.questions') %></h4>
      </header>

      
        <ul class="posts">
          <% @questions.limit(5).each do |question| %>
            <%= render 'shared/post', post: question %>
          <% end %>
        </ul>
      
    </article>
  <% end %>
  
  <% if @announcements.size > 0 %>
    <article id='announcements'>
      <header class='sub-header'>
        <h4><%= t('search.headers.announcements') %></h4>
      </header>
      
        <ul class="posts">
          <% @announcements.limit(5).each do |announcement| %>
            <%= render 'shared/post', post: announcement %>
          <% end %>
        </ul>
    </article>
  <% end %>

  <% if @topics.size > 0 %>
    <article id='topics'>
      <header class='sub-header'>
        <h4><%= t('search.headers.topics') %></h4>
      </header>
      
        <ul class="posts">
          <% @topics.limit(5).each do |topic| %>
            <%= render 'shared/post', post: topic %>
          <% end %>
        </ul>
      
    </article>
  <% end %>
<% end %>