<% unless params[:query].empty? %>
  <article id='groups'>
    <header class='sub-header'>
      <h4><%= t('search.titles.groups') %></h4>
    </header>

    <% if @groups.size > 0 %>
      <ul class="groups">
        <%= render(@groups) || t('groups.no_groups_available') %>
      </ul>
    <% else %>
      <p class="hint"><%= t('groups.search.no_result') %> <%= link_to t('groups.search.create_new_group'), new_group_path(title: params[:query]) %>
    <% end %>
  </article>

  <article id='questions'>
    <header class='sub-header'>
      <h4><%= t('search.titles.questions') %></h4>
    </header>

    <% if @questions.size > 0 %>
      <ul class="posts">
        <% @questions.each do |question| %>
          <%= render 'shared/post', post: question %>
        <% end %>
      </ul>
    <% else %>
      <p class="hint"><%= t('questions.search.no_result') %>
    <% end %>
  </article>

  <article id='announcements'>
    <header class='sub-header'>
      <h4><%= t('search.titles.announcements') %></h4>
    </header>
    <% if @announcements.size > 0 %>
      <ul class="posts">
        <% @announcements.each do |announcement| %>
          <%= render 'shared/post', post: announcement %>
        <% end %>
      </ul>
    <% else %>
      <p class="hint"><%= t('questions.search.no_result') %>
    <% end %>
  </article>

  <article id='topics'>
    <header class='sub-header'>
      <h4><%= t('search.titles.topics') %></h4>
    </header>
    <% if @topics.size > 0 %>
      <ul class="posts">
        <% @topics.each do |topic| %>
          <%= render 'shared/post', post: topic %>
        <% end %>
      </ul>
    <% else %>
      <p class="hint"><%= t('topics.search.no_result') %>
    <% end %>
  </article>

<% end %>