<% if params[:action].eql? 'index' %>
  <header>
    <h2>
      <%= t('groups.show.topics.header') %>
      <small><%= link_to @group.title, group_path(@group) %></small>
    </h2>
  </header>
<% else %>
  <header>
  <h2><%= t('groups.show.topics.header') %></h2>
</header>
<% end %>

<%= form_for([@group, @topic ||= @group.topics.build]) do |f| %>
  <ul class="no-style topic">
    <li class="input-fields" class="input-fields">
      <%= f.label :subject, t('forms.labels.subject'), class: 'accessibility' %>
      <%= f.text_field :subject, placeholder: t('topics.input.new') %>
    </li>
    <div id='new-topic-fields' data-id='new-topic-fields'><%= render 'shared/new_topic_fields', f: f %></div>  
  </ul>
<% end %>

<% if topics.size > 0 %>
  <ul class="posts condensed">
  <% limit ||= nil %>
    <% topics.each_with_index do |topic| %>
      <li class="topic">
        <div class="content"> 
          <span class="rating"><%= topic.rating > 0 ? "+#{topic.rating}" : topic.rating %></span>
          <span class="title"><h2><%= link_to truncate(topic.subject, length: 150), topic %></h2></span>
        </div>
        <div class="footer hide-for-small">
          <span class="post-details">
            <%= t('posts.general.authored') %>
            <%= topic.author %> &middot;
            <%= t('general.label.views', count: topic.views.to_i).html_safe %> &middot;
            <%= t('general.label.comments', count: topic.comments.size).html_safe %>
          </span>
          <span class="right">
            <span class="last_activity"><%= topic.last_activity.present? ? l(topic.last_activity, format: :short) : l(topic.updated_at, format: :short) %></span>
            <% if can? :manage, topic %> 
              <span class="actions">
                &middot;
                <%= link_to fa_icon('pencil', text: t('general.actions.edit')), edit_topic_path(topic), alt: "#{t('posts.actions.edit')}", title: "#{t('posts.actions.edit')}" %> &middot;
                <%= link_to fa_icon('times', text: t('general.actions.remove')), topic, alt: "#{t('topics.actions.delete')}", title: "#{t('posts.actions.edit')}", method: :delete, confirm: 'Are you sure to delete this post?' %>
              </span>
            <% end %>
          </span>
        </div>
      </li>
    <% end %>
  </ul> 

  <% unless limit.nil? or @group.topics.size < limit %>
    <span class="right"><small><%= link_to t('topics.actions.view_all'), group_topics_path(@group) %></small></span>
  <% end %>

  <%= paginate topics if params[:action].eql? 'index' %>
<% else %>
  <p class="hint"><%= t('topics.hints.no_entries') %></p>
<% end %>