<% if params[:action].eql? 'index' %>
  <header>
    <h2>
      <%= t('groups.show.recordings.header') %>
      <small><%= link_to @group.title, group_path(@group) %></small>
    </h2>
  </header>
<% else %>
  <header>
  <h2><%= t('groups.show.recordings.header') %></h2>
</header>
<% end %>
<ul class="video-strip block">
  <li>
    <div class="video-thumbnail new">
      <%= link_to fa_icon('plus'), new_group_video_path(@group), title: t('videos.new.link_title') %>
    </div>
  </li>
  <% @group.videos.each do |video| %>
    <li>
      <div class="video-thumbnail">
        <%= link_to image_tag("https://img.youtube.com/vi/#{video.code.to_s}/0.jpg", class: 'youtube-preview'), video_path(video) %>
        <div class="video-details">
          <p class="title"><%= link_to video.subject, video_path(video) %></p>
          <p class="time"><%= l(video.created_at, format: :short) %></p>
        </div>
      </div>
    </li> 
  <% end %>
</ul>