<% title t('landing_page.headers.register') %>
<section id="welcome">
  <header id="welcome-header">
    <center>
      <h1><%= t('landing_page.headers.welcome') %></h1>
      <%= image_tag('auditorium_logo_colors.png',  { class: 'full-logo centered'}) %>
    </center>
  </header>
</section>

<section id="sign_up" class="block large-5 large-centered columns">  
  <header>
    <h3 class="subheader"><%= t('landing_page.headers.register') %></h3>
  </header>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
   <%= devise_error_messages! %>
   <ul class="no-style"> 
    <li class="input-fields">
      <%= f.label :email, t('forms.labels.email'), class: 'accessibility' %>
      <%= f.email_field :email, placeholder: t('forms.placeholder.email'), autofocus: true %>
      <p class="hint">
      <%= t('landing_page.hints.sign_up.text')%> <%= link_to t('landing_page.hints.sign_up.link'), 'mailto:inf-auditorium@groups.tu-dresden.de' %>
    </p>
    </li> 

    <li class="input-fields">
      <%= f.label :password, t('forms.labels.password'), class: 'accessibility' %>
      <%= f.password_field :password, placeholder: t('forms.placeholder.password') %>
    </li>  

    <li class="input-fields">
      <%= f.label :password, t('forms.labels.password_confirmation'), class: 'accessibility' %>
      <%= f.password_field :password, placeholder: t('forms.placeholder.password_confirmation') %>
    </li>   

    <li class="input-fields">
      <%= f.label :username, t('forms.labels.username'), class: 'accessibility' %>
      <%= f.text_field :username, placeholder: t('forms.placeholder.username') %>
    </li> 

    <li class="input-fields">
      <%= f.label :privacy_policy do %>
        <%= f.check_box :privacy_policy %>
        <%= t('forms.labels.accepting') %>
        <%= link_to t('forms.labels.privacy_policy') %>
      <% end %>
    </li> 

    <li class="input-fields">
      <%= f.submit t('forms.labels.sign_up'), class: 'button submit wide' %>
    </li>
    </ul>
  <% end %>
  <div class="registration_links">
    <%= render "devise/shared/links" %>
  </div>
</section>



