<div class="container span3 center">
  
  <% devise_error_messages! %>
  <h2>Sign up!</h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <fieldset class="well">
    <div class="control-group">

      <div class="controls">
        <%= f.text_field :username, :placeholder => 'Username', :class => "span3"%>
        <%= f.email_field :email, :placeholder => 'Email address', :class => "span3", :title => 'Use your TU Dresden email address,<br/>e.g. sNumber@mail.zih.tu-dresden.de', :rel => 'tooltip', :id => 'signup-email-address', 'data-placement' => 'right' %>
        <%= f.password_field :password, :placeholder => 'Password', :class => "span3", :title => 'Minimum six characters', :rel => 'tooltip', :id => 'signup-password', 'data-placement' => 'right'%>
        <%= f.password_field :password_confirmation, :placeholder => 'Password confirmation', :class => "span3" %>

      </div>
      <%= f.submit "Sign up", :class => 'btn btn-large btn-primary span2', 'data-disable-with' => 'Signing up...' %>
      <p class='help-block'><%= render :partial => "devise/shared/links" %></p>
    </div>

    
    </fieldset>
  <% end %>
</div>

