<article class="block" id="comment">
<%= form_for(@comment) do |f| %>
  <ul class="form">
    

    <li class="input-fields">
      <%= render 'shared/text_editor_buttons', element_id: dom_id(@comment), element_name: @comment.class.name.downcase %>
      <%= f.label :content, class: 'accessibility' %>
      <%= f.text_area :content, class: 'large-12 columns' %>
      <div class="preview">
        <div id="comment-preview"></div>
      </div>
    </li>

    <li class="input-fields">
      <% if params[:action].eql? 'new' or params[:action].eql? 'create' %>
        <%= f.submit t('comments.actions.submit'),id: 'submit', class: 'submit small button' %>
      <% elsif params[:action].eql? 'edit' or params[:action].eql? 'update' %>
        <%= f.submit t('comments.actions.edit'), class: 'submit small button' %>
      <% end %>
      <%= link_to t('general.actions.cancel'), :back, confirm: t('general.confirm.cancel'),class: 'button secondary small' %>
    </li>
  </ul>
<% end %>
</article>