<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag 'emails' %>
  </head>

  <body>
    <div id="email-header">
      <h2><%= t('emails.greetings.hello', user: @user) %></h2>
    </div>

    <div id="email-content">
      <p><%= t('emails.content.subjects.confirmed_membership_request', group: @group.title) %></p>
      <p><%= link_to t('emails.content.goto.link'), group_url(@group, locale: I18n.locale), class: 'button alert' %></p>
    </div>

    <p class="email-greetings">
      <%= t('emails.greetings.regards') %>
    </p>
  </body>
</html>


