<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        padding:20px;
      }

      h1 {
        font-size:1.1em;
        font-weight:200;
      }

      p {
        font-weight:200;
      }
    </style>
  </head>
  <body>
    <h1>Hello, <%= @user.full_name %></h1>
    
    <% if @membership_request.nil? or @membership_request.confirmed %>
    <p>You are now an editor of the course <%= link_to @course.name_with_term, @url %>. As editor you can access the course with additional privileges:</p>
      <ul>
        <li>make announcements for this course,</li>
        <li>read and edit private questions,</li>
        <li>edit the course.</li>
      </ul>
    </p>
      Go to <%= link_to @course.name_with_term, @url %> and see what you can do.  
    </p>
    <% else %>
    <p>Your membership request as <%= @membership_request.membership_type %> for <%= link_to @course.name_with_term, course_url(@course) %> has been rejected.</p>
    <% end %>

    <p>Have a great day!</p>
    <em>The auditorium team</em>
  </body>
</html>