<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        padding:20px;
      }

      h1 {
        font-size:1.1em;
        font-weight:200;
      }

      p {
        font-weight:200;
      }
    </style>
  </head>
  <body>
  	<h1>Hello, <%= @user.full_name %></h1>

		<p>Your membership request to become <%= @membership_request.membership_type %> has been rejected. But you are now a member of the course <%= link_to @course.name_with_term, @url %>.</p>

		<p>Go to <%= @course.name_with_term %> <%= @url %> and see what you can do.</p>  

		<p>Have a great day!</p>
		<em>The auditorium team</em>

  </body>
</html>

