<!doctype html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <%= stylesheet_link_tag 'emails' %>
  </head>

  <body>
    <div id="email-header">
      <h2><%= t('emails.greetings.hello', user: @receiver) %></h2>
    </div>

    <div id="email-content">
      <%= t('emails.content.subjects.new_answer', author: @author, group: @group.title) %> 
      <div id="email-markdown">
        <%= markdown @answer.content %>
      </div>     
      <%= link_to t('emails.content.goto.answer'), answer_url(@answer, locale: I18n.locale, anchor: dom_id(@answer)), class: 'button alert' %> 
    </div>

    <p class="email-greetings">
      <%= t('emails.greetings.regards') %>
    </p>

    <div id="email-footer">
      <%= t('emails.footer.text', group: @group.title) %>
      <%= link_to t('emails.footer.link'), user_url(@receiver, locale: I18n.locale) %>
    </div>
  </body>
</html>