<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style>
      body {
        padding:20px;
      }

      h1 {
        font-size:1.1em;
        font-weight:200;
      }

      p {
        font-weight:200;
      }

      .post-details {
        margin:5px 20px;
        padding:5px;
        border:1px solid #ddd;
        background:#eee;
      }

      .post-details p {
        margin:2px;
        padding:0;
      }

      .post-subject {
        font-size:1.2em;
      }


    </style>
  </head>
  <body>
    <h1>Hi, <%= @user.full_name %></h1>
    
    <p>There is a new <%= @post.post_type %> in <i><%= @post.course.name_with_term %><i> written by <%= @post.author.full_name %>.</p>

    
    <div class="post-details">
      <p class="post-subject"><b><%= markdown @post.subject %></p>
      <p class="post-body"><%= markdown @post.body %></p>
    </div>

    <p><%= link_to 'Edit', edit_post_url(@post) %>, <%= link_to "view, answer or comment on #{@post.origin.author}'s question.", post_url(@post.origin, :anchor => "post-#{@post.id}") %><p>

    <p class="email-footer">You receive this email, because you're admin and there are no moderators in <%= link_to @post.course.name_with_term, course_url(@post.course) %>. <%= link_to 'Change', edit_user_registration_url %> what emails auditorium sends you.</p>
  </body>
</html>