<h2>My Faculties</h2>

<%
  cols = 2
  cols = 12/cols
  i = 0
%>

<div class="row-fluid" >
  <% if @faculties.count > 0 or @faculties_with_courses.count >0 %>
  <% @faculties_with_courses.each do |faculty, courses|%>
    <div class="span<%=cols%> well-small">
      <h4> <%= link_to faculty, faculty %> </h4>
      <%= link_to "Browse", faculty %>
      <hr/>
      <em> <%= link_to "#{courses.size} courses subscribed", "my_courses##{faculty}" %>  </em>
    </div>

    <% i=i+1 %>
    <% if i % (12/cols) == 0 %>
    </div>

    <div class="row-fluid" >
    <% end %>
  <% end %>
<% else %>
  <p> You should sign up for your faculties.  </p>
  <p> see at <%= link_to "Settings", edit_user_registration_path %> </p>
  <% end %>
</div>
