<h2>Listing periods</h2>

<table>
  <tr>
    <th>Wochentag</th>
    <th>Wiederholdung (in Tagen)</th>
    <th>Ort</th>
    <th>Kurs</th>
    <th>Beginn</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @periods.each do |period| %>
  <tr>
    <td><%= period.weekday %></td>
    <td><%= period.duration %></td>
    <td><%= period.place %></td>
    <td><%= period.event.course.name %></td>
    <td><%= period.minute_of_day %></td>
    <td><%= link_to 'Show', period %></td>
    <td><%= link_to 'Edit', edit_period_path(period) %></td>
    <td><%= link_to 'Destroy', period, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Period', new_period_path %>
