<% if current_user %>
  <h3>Your answer</h3>

  <div class="answer-form">
    <%= form_tag "#{post_path(post)}/answering", :method => "post" do %> 
      <div class="row-fluid">

        <div class="span8">
          <%= text_area_tag :body, nil, :rows => 5,  :placeholder => "Deine Antwort...", :class => "span12" %>
        </div>
        <div class="span1">  
          <%= submit_tag 'Absenden', :class => "btn btn-primary" %>
        </div>
      </div>
 
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info">Please <%= link_to 'Sign in', '/users/sign_in' %> or <%= link_to 'Sign up', '/users/sign_up' %> to answer or comment this question.</div>
<% end %>