<% if current_user %>
  <div class="answer-form">
    <h3>Can you answer the question? <small class="hint">If not, add a comment.</small></h3>
    <%= form_tag "#{post_path(post)}/answering", :method => "post" do %> 
      <div class="row-fluid">
        <%= render 'posts/rich_text_buttons' %>
        <%= text_area_tag :body, nil, :rows => 5,  :placeholder => "Your answer...", :class => "span12", :id => 'content_field' %> 
        <%= submit_tag 'Submit your answer', :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="hint">Please <%= link_to 'Sign in', '/users/sign_in' %> or <%= link_to 'Sign up', '/users/sign_up' %> to answer or comment this question.</p>
<% end %>