<div class="comment" id="post-<%= comment.id %>">
  <%= comment_markdown(comment.body) %>
  <span class="comment-metadata">

    <%= link_to content_tag('i', '', class: 'icon-link'), '#', title: 'Get permalink for this comment.', 'onclick' => "javascript:window.prompt('Copy link to clipboard: CTRL+C or CMD+C', '#{post_url(comment.origin, :anchor => "post-#{comment.id}")}'); return false" %>
    &middot;
    <% if comment.author.id == current_user.id %>
      <%= link_to "by me", comment.author %> 
    <% else %>
      <%= link_to "by #{comment.author_name}", comment.author %>
    <% end %>
     &middot; <%= "#{distance_of_time_in_words(Time.now, comment.created_at)} ago" %>
  	<span class="pull-right">
      <% if can? :report, comment %>
        <%= link_to '#', :class => "submit-report", 'data-id' => comment.id do %><i class="icon-flag"></i> report<% end %>	
	  	<% end %>
      <% if can? :destroy, comment  %>
        &middot;
        <%= link_to comment, :data => { :confirm => 'Are you sure that you want to remove this comment?' }, method: :delete do %><i class="icon-remove"></i> remove<% end %>
      <% end %>
      <% if can? :update, comment %>
        &middot;
        <%= link_to edit_post_path(comment) do %><i class="icon-edit"></i> edit<% end %> <%= "(#{distance_of_time_in_words(Time.now, comment.updated_at) } ago)" if (comment.updated_at.to_i - comment.created_at.to_i) > 0 %>
      <% else %>
        <% if (comment.updated_at.to_i - comment.created_at.to_i) > 0 %>
          &middot;
          <%= "edit #{distance_of_time_in_words(Time.now, comment.updated_at) } ago"  %>
        <% end %>
      <% end %>
  	</span>
  </span>
</div>
