<div class="comment">
  <%= comment_markdown(comment.body) %>
  <span class="comment-metadata"><%= "by #{comment.author_name}, #{distance_of_time_in_words(Time.now, comment.created_at)} ago" %>
  	<span class="pull-right">
	  	<% if can? :update, comment  %>
	    	<%= link_to "remove", comment, :data => { :confirm => 'Are you sure that you want to remove this comment?' }, method: :delete %>&middot;
	  	<% end %>
	  	<%= link_to ' report', '#', :class => "submit-report", 'data-id' => comment.id %>	
  	</span>
  </span>
  <%= render 'posts/report_modal', :post => comment %>
</div>