
<% if post.errors.any? %>
<div class="alert alert-error">
  Something went wrong
  <dl>
    <% post.errors.full_messages.each do |msg| %>
    <dd><%= msg %></dd>
    <% end %>
  </dl>
</div>
<% end %>

<div class="row">
  <div class="well span8">
    <%= form_for (post), :class => 'form-horizontal', :remote => false do |f| %>
      <div class="control-group">
      <% if signed_in? %>
        <div class="controls">
          <label for="subject_field" class="accessibility"> subject </label>
          <%= f.text_field :subject, :placeholder => "Add the subject here...", :class => "span8", :id => "subject_field" %>
          <label for="content_field" class="accessibility"> content </label>
          
          <p class='hint'><b>Hint:</b> Use <%= link_to 'Markdown', 'http://daringfireball.net/projects/markdown' %> for rich text. Here is a <%= link_to 'reference for the syntax of Markdown', 'http://daringfireball.net/projects/markdown/' %> (by John Gruber).</p>
          <%= f.text_area :body, :placeholder => "Add the content here...", :class => "span8", :id => "content_field", :size => '10x8' %>

          <label for="course_name" class="accessibility backward_compatability" id='label_course_select'>course</label>
          <%= f.hidden_field :course_id, :value => (params[:course_id] || post.course_id), :class => 'backward_compatability', 'style' => 'display:none' %>
          <%  @course_name = post.course.name_with_term if !post.nil? && !post.course.nil? %>
          <%= text_field_tag :course_name, @course_name , :placeholder => 'Search for your course...', :class => 'span8 backward_compatability', 'style' => 'display:none' %>

          <!-- for backward compatibility a select -->   
          <label for="course_select" class="accessibility" id='label_course_select'>course</label>
          <%= f.select(:course_id, options_from_collection_for_select(Course.order('name ASC').select("id, name, term_id"), :id, :name_with_term, params[:course_id] || post.course_id), { include_blank: '-- please select a course --'}, {:id=>"course_select",:class => 'span8'}) %>
          
          <p class="hint"><b>Hint:</b> You can't find the correct course? <%= link_to 'Create it and we will approve it', new_course_path %>.</p>
        </div>

        <% if params[:controller].eql? 'home' or (post and post.post_type.eql? 'question') or params[:post_type].eql? 'question' %>
          <!-- questions -->
          <label class="checkbox">
          <%= f.check_box :is_private %><%= "Mark this question as private. Only moderators of this course can see your post." %>
          </label>
          <% if params[:action].eql? 'edit' %>
            <%= f.submit "Update question", { :class => 'btn btn-large btn-primary', 'data-disable-with' => 'Submitting...', :id => 'submit-button-label'}  %>
          <% else %>
            <%= f.submit "Submit your question", { :class => 'btn btn-large btn-primary', 'data-disable-with' => 'Submitting...', :id => 'submit-button-label'}  %>
          <% end %>
          
        <% elsif (post and post.post_type.eql? 'answer') or params[:post_type].eql? 'answer' %>
          <!-- answers -->
          <% if params[:action].eql? 'edit' %> 
            <%= f.submit "Update your answer", { :class => 'btn btn-large btn-primary', 'data-disable-with' => 'Submitting...', :id => 'submit-button-label'}  %>  
          <% else %>
            <%= f.submit "Answer the question", { :class => 'btn btn-large btn-primary', 'data-disable-with' => 'Submitting...', :id => 'submit-button-label'}  %>  
          <% end %>
        <% else %>
          <!-- announcements -->
          <% if params[:action].eql? 'edit' %> 
            <%= f.submit "Update your announcement", { :class => 'btn btn-large btn-warning', 'data-disable-with' => 'Submitting...', :id => 'submit-button-label'}  %>  
          <% else %>
            <%= f.submit "Post your announcement", { :class => 'btn btn-large btn-warning', 'data-disable-with' => 'Submitting...', :id => 'submit-button-label'}  %>  
          <% end %>
        <% end %>
      <% else %>
        <!-- not signed in -->
        <div class='controls center'>
          <%= link_to 'Sign in to write a question', '/users/sign_in', :class => 'btn btn-large btn-primary' %>
          <p class="help-block"><%= link_to 'Not an account yet? Sign up.', '/users/sign_up'%></p>
        </div>
      <% end %>
      </div>
      <% if params[:controller].eql? 'home' %>
        <%= f.hidden_field :post_type, :value => 'question' %>
      <% else %>
        <% post_type = post.post_type || params[:post_type] %>
        <%= f.hidden_field :post_type, :value => post_type %>
      <% end %>
    <% end %> <!-- end form -->
  </div> 
</div>