
<% if post.errors.any? %>
<div class="alert alert-error">
  Something went wrong
  <dl>
    <% post.errors.full_messages.each do |msg| %>
    <dd><%= msg %></dd>
    <% end %>
  </dl>
</div>
<% end %>

<div class="row center span8 well">

    <%= form_for (post), :class => 'form-horizontal', :remote => false do |f| %>
      <div class="control-group">
      <% if signed_in? %>
        <div class="controls">
          <%= render 'posts/form_course_select', :post => post, :f => f %>

          <% if post.post_type.eql? 'answer' or post.post_type.eql? 'comment' %>
            <%= f.hidden_field :subject %>
          <% else %>
            <label for="subject">Second, the subject for your post:</label>
            <%= f.text_field :subject, :placeholder => "Type in a specific subject.", :class => "span8", :id => "subject_field" %>
          <% end %>
         
          <label for="content_field">Third, the content of your post:</label>
          <%= render 'posts/rich_text_buttons' %>

          <%= f.text_area :body, :placeholder => "Type in the content of your question.", :class => "span8", :id => "content_field", :size => '10x8' %>
        </div>

        <%= render 'posts/form_submit_buttons', :post => post, :f => f %>
        <p class='hint hidden-phone'>You can't find the correct course? <%= link_to 'Search for the lecture first!', lectures_path(:q => params[:q]), :class=>'search-for-lecture' %></p>
      <% else %>
        <!-- not signed in -->
        <div class='controls center'>
          <%= link_to 'Sign in to write a question', '/users/sign_in', :class => 'btn btn-large btn-primary' %>
          <p class="help-block"><%= link_to 'Not an account yet? Sign up.', '/users/sign_up'%></p>
        </div>
      <% end %>

      
      </div>
      <% if params[:controller].eql? 'home' %>
        <%= f.hidden_field :post_type, :value => 'question' %>
      <% else %>
        <% post_type = post.post_type || params[:post_type] %>
        <%= f.hidden_field :post_type, :value => post_type %>
      <% end %>
    <% end %> <!-- end form -->

</div>