<p class="hint hidden-post post-<%= post.id %> <%= 'hidden' unless (post.rating < current_user.rating_minimum or post.too_many_reports?) %>">This post got to many negative feedback. That's why it is hidden. <%= link_to 'Show this post anyway.', '#',  'data-id' => post.id %></p>

<% if current_user.subscribed_to?(post.course) %>
  <table class="table-posts subscribed <%= 'hidden' if (post.rating < current_user.rating_minimum or post.too_many_reports?) %> post-<%= post.id %>" data-id='<%= post.id %>'>
<% else %>
  <table class="table-posts <%= 'hidden' if (post.rating < current_user.rating_minimum or post.too_many_reports?) %> post-<%= post.id %>" data-id='<%= post.id %>'>
<% end %>
  <tbody>
    <tr>
      <% if post.post_type.eql? 'question' %>
        <% if post.is_private? %>
          <td rowspan="3" class="post-badge private-question-badge <%= "not" if post.answered? %> answered">&nbsp;</td> 
        <% else %>
          <td rowspan="3" class="post-badge question-badge <%= "not" if post.answered? %> answered">&nbsp;</td> 
        <% end %>
      <% elsif post.post_type.eql? 'info' %>
        <td rowspan="3" class="post-badge info-badge">&nbsp;</td>
      <% end %>
      <td colspan="1"><% if not post.post_type.eql? 'answer' %>
        <h3 class="post-subject">
          <% if post.top_rated? %>
            <span class="icon-star highlight-icon" style='color:#fff900' title='This post is top rated.'></span>
          <% end %>
          <%= content_tag('i', '', class: 'icon-eye-open private-question', title: 'Private question', rel: 'tooltip') if post.is_private %>
          <%= link_to post.subject, post_path(post) %> </h3>
      <% end %>
    <tr><td class="post-footer"><%= render :partial => 'posts/post_footer', :locals => { :post => post } %></td></tr>
  </tbody>
</table>

<%= render 'posts/report_modal', :post => post %>

  <% if params[:controller].eql? 'posts'%>
  <table class="table-comments"> 
      <% post.comments.each do |comment| %>
        <tr><td><%= render :partial => 'posts/comment', :locals => {:comment => comment }%></td></tr>
      <% end %>
  </table>
  <%= render :partial => 'posts/comment_form', :locals => {:post => post } %>
  <% end %>

