<table class="table-posts <%= 'highlight' if highlight_post(post, post.course) %>" id="post-<%= post.id %>" data-id='<%= post.id %>'>
  <tbody>
    <tr>
      <% if post.post_type.eql? 'question' %>
        <td rowspan="3" class="post-badge <%= 'private-' if post.is_private? %>question-badge">&nbsp;</td> 
      <% elsif post.post_type.eql? 'info' %>
        <td rowspan="3" class="post-badge info-badge">&nbsp;</td>
      <% elsif post.post_type.eql? 'answer' %>
        <td rowspan='3' class='post-badge <%= 'private-' if post.origin.is_private? %>answer-badge <%= "not" if post.answer_to_id.nil? %> answered'>&nbsp;</td>
      <% elsif post.post_type.eql? 'recording' %>
        <td rowspan="3" class="post-badge <%= 'private-' if post.is_private? %>recording-badge">&nbsp;</td> 
      <% end %>
      <td rowspan="3" class="post-rating">
          <%= render :partial => 'posts/rating', :locals => { :post => post } %>
          <%= render :partial => 'posts/answered', :locals => { :post => post } %>
      </td>

      <td colspan="3"><% if not post.post_type.eql? 'answer' %>
        
        <h3 class="post-subject">
          <div class="pull-right"><%= render 'posts/gravatar', :post => post %></div>
          <%= content_tag('i', '', class: 'icon-eye-open private-question', title: 'Private question', rel: 'tooltip') if post.is_private %>
          <%= link_to post.subject, post_path(post) %>
        </h3>
      <% end %>
      </td>
    <tr><td class="post-body" colspan="2">
      <% if post.post_type.eql? 'recording' %>
        <iframe class="youtube-player" src="http://www.youtube.com/embed/<%= post.code %>" frameborder="0" allowfullscreen></iframe>
      <% end %>
      <%= markdown(post.body) %>

    </td></tr>
    <tr><td class="post-footer" colspan="3">
      <%= render :partial => 'posts/post_footer', :locals => { :post => post } %>
    </td></tr>
  </tbody>
</table>

<% if params[:controller].eql? 'posts' or params[:controller].eql? 'recordings'%>
<table class="table table-comments"> 
  <thead><th>Comments</th></thead>
  <tfoot><td><%= render :partial => 'posts/comment_form', :locals => {:post => post } %></td></tfoot>
  <tbody>
  <% post.comments.each do |comment| %>
    <tr class="<%= 'highlight' if highlight_post(comment, comment.course) %>">
      <td><%= render :partial => 'posts/comment', :locals => {:comment => comment }%></td>
    </tr>
  <% end %>
  </tbody>
</table>      
<% end %>

<%= render 'posts/report_modal', :post => post %>

