<table class="table-posts" id="post-<%= post.id %>" id='<%= post.id %>'>
  <tbody>
    <tr>
      <% if post.post_type.eql? 'question' %>
        <% if post.is_private? %>
          <td rowspan="3" class="post-badge private-question-badge">&nbsp;</td> 
        <% else %>
          <td rowspan="3" class="post-badge question-badge">&nbsp;</td> 
        <% end %>
      <% elsif post.post_type.eql? 'info' %>
        <td rowspan="3" class="post-badge info-badge">&nbsp;</td>
      <% elsif post.post_type.eql? 'answer' %>
        <% if post.origin.is_private %>
          <td rowspan='3' class='post-badge private-answer-badge <%= "not" if post.answer_to_id.nil? %> answered'>&nbsp;</td>
        <% else %>
          <td rowspan='3' class='post-badge answer-badge <%= "not" if post.answer_to_id.nil? %> answered'>&nbsp;</td>
        <% end %>
      <% end %>
      <td rowspan="3" class="post-rating">
        <center>
          <%= render :partial => 'posts/rating', :locals => { :post => post } %>
          <% if post.post_type.eql? 'answer' and can? :mark_as_answered, post %>
          <%= render :partial => 'posts/answered', :locals => { :post => post } %>
          <% end %>
        </center>
      </td>

      <td colspan="3"><% if not post.post_type.eql? 'answer' %>
        <h3 class="post-subject">
          <%= content_tag('i', '', class: 'icon-eye-open private-question', title: 'Private question', rel: 'tooltip') if post.is_private %>
          <%= link_to post.subject, post_path(post) %>
          <% if not post.author.nil? and post.author.alternative_email %>
          <span class="gravatar pull-right">
            <%= gravatar_image_tag(post.author.alternative_email, :alt => post.author.full_name, :gravatar => {:default => :wavatar, :size => 40, :secure => true })%>
          </span>
          <% end %>
        </h3>
      <% end %>
      </td>
    <tr><td class="post-body" colspan="2"><%= markdown(post.body) %></td></tr>
    <tr><td class="post-footer" colspan="3">
      <%= render :partial => 'posts/post_footer', :locals => { :post => post } %>
    </td></tr>
  </tbody>
</table>

<% if params[:controller].eql? 'posts'%>

<table class="table table-comments"> 
  <thead><th>Comments</th></thead>
  <tfoot><td><%= render :partial => 'posts/comment_form', :locals => {:post => post } %></td></tfoot>
  <tbody>
  <% post.comments.each do |comment| %>
    <tr><td><%= render :partial => 'posts/comment', :locals => {:comment => comment }%></td></tr>
  <% end %>
  
  </tbody>
  
  
</table>    
<% end %>

<%= render 'posts/report_modal', :post => post %>
