<span class="post-metadata">
  <% if params[:controller].eql? 'home' or params[:controller].eql? 'courses' %>
    <% if post.answered? %>
      <span class="icon-ok answered" title="This question was answered."></span>
      &middot;
    <% end %>

    <%= link_to (post.rating > 0 ? "+#{pluralize(post.rating, 'vote')}" : pluralize(post.rating, 'vote')), post_path(post) %>
    &middot;
    <% if post.post_type.eql? 'question' %>
      <%= link_to pluralize(post.answers.count, 'answer'), post_path(post) %> 
       &middot;
    <% else %>
      <%= link_to pluralize(post.comments.count, 'comment'), post_path(post) %>
      &middot;
    <% end %> 
  <% end %>

  <%= link_to content_tag('i', '', class: 'icon-link'), '#', title: 'Get permalink for this post.', 'onclick' => "javascript:window.prompt('Copy link to clipboard: CTRL+C or CMD+C', '#{post_url(post.origin, :anchor => "post-#{post.id}")}'); return false" %>
  &middot;
  <% if post.author.id == current_user.id %>
    <%= link_to "by me", post.author %> 
  <% else %>
    <%= link_to "by #{post.author_name}", post.author %>
  <% end %>
  &middot;
  <%= "#{distance_of_time_in_words(Time.now, post.created_at)} ago" %>

  <% if current_user.admin? or (!params[:controller].eql? 'home' and !params[:controller].eql? 'courses') %>
  <span class="pull-right">
    <% if can? :report, post %>
      <%= link_to '#', :class => "submit-report", 'data-id' => post.id do %>
        <i class="icon-flag"></i> report
      <% end %>
    <% end %> 
    <% if can? :destroy, post  %>
      &middot; 
      <%= link_to post, :data => { :confirm => 'Are you sure that you want to remove this post?' }, method: :delete do %><i class="icon-remove"></i> remove<% end %>
    <% end %>
    <% if can? :update, post %>
      &middot;
      <%= link_to edit_post_path(post) do %><i class="icon-edit"></i> edit<% end %> <%= "(#{distance_of_time_in_words(Time.now, post.updated_at) } ago)" if (post.updated_at.to_i - post.created_at.to_i) > 0 %>
    <% else %>
      <% if (post.updated_at.to_i - post.created_at.to_i) > 0 %>
        &middot;
        <%= "edit #{distance_of_time_in_words(Time.now, post.updated_at) } ago"  %>
      <% end %>
    <% end %>
  </span>
  <% end %>
</span>
