<span class="post-metadata">
  <% if params[:controller].eql? 'home' or params[:controller].eql? 'courses' %>
    <% if post.post_type.eql? 'question' %>
      <%= link_to "#{post.answers.count} answers", post_path(post) %> 
       &middot;
    <% end %>
    <%= link_to "#{post.comments.count} comments", post_path(post) %>
     &middot; 
  <% end %>
  <% if post.author.id == current_user.id %>
    <%= "by me" %> 
  <% else %>
    <%= "by #{post.author_name}" %>
  <% end %>
  <%= "#{distance_of_time_in_words(Time.now, post.created_at)} ago" %> 
  <% if current_user.subscribed_to?(post.course) %>
    <%= link_to " #{post.course.name_with_term}", course_path(post.course), title: 'You have subscribed to this course.', class: 'icon-star' %>
  <% else %>
    <%= link_to "#{post.course.name_with_term}", course_path(post.course) %>
  <% end %>
  <span class="pull-right">
    <% if can? :report, post  %>
      <%= link_to ' report', '#', :class => "submit-report", 'data-id' => post.id %>
      &middot; 
    <% end %> 
    <% if can? :update, post  %>
       
      <%= link_to " remove", post, :data => { :confirm => 'Are you sure that you want to remove this post?' }, method: :delete %>
      &middot; 
      <% if post.author %>
       <%= link_to ' edit', edit_post_path(post) %> <%= "(#{distance_of_time_in_words(Time.now, post.updated_at) } ago)" if (post.updated_at.to_i - post.created_at.to_i) > 0 %>
      <% else %>
      <%= "last activity #{distance_of_time_in_words(Time.now, post.last_activity) } ago" if (post.updated_at.to_i - post.created_at.to_i) > 0 %>
      <% end %>
    <% end %>
  </span>
</span>
