<p class="rich-text-buttons">
  <%= link_to 'code block', '#', :id => 'insert-code-block', :title => 'Add a code block.', class: 'btn btn-mini' %>
  <%= link_to 'inline code', '#', :id => 'insert-inline-code', :title => 'Add inline code into your text.', class: 'btn btn-mini' %>
  <%= link_to 'quote', '#', :id => 'insert-quote', :title => 'Add a quote.', class: 'btn btn-mini' %>
  <%= link_to 'LaTeX inline', '#', :id => 'insert-latex-inline', :title => 'Add inline formula with LaTeX.', class: 'btn btn-mini' %>
  <%= link_to 'LaTeX block', '#', :id => 'insert-latex-block', :title => 'Add formulas with LaTeX.', class: 'btn btn-mini' %>
  Use <%= link_to 'Markdown', 'http://warpedvisions.org/projects/markdown-cheat-sheet/' %> in the content area for rich text.
</p>