<div class="center span8">
<h4 class="hint">
	<%= (@post.post_type.eql? 'info') ? 'An announcement in' : 'A question in' %>
	<% if current_user.subscribed_to?(@post.course) %>
	  <%= link_to " #{@post.course.name_with_term}", course_path(@post.course), title: 'You have subscribed to this course.', class: 'icon-star' %>
	<% else %>
	  <%= link_to "#{@post.course.name_with_term}", course_path(@post.course) %>
	<% end %>
</h4>

<%= render :partial => 'post', :locals => {:post => @post } %>

<% if @post.answers.count > 0 %>
<h3>Answers <small>sorted by rating</small></h3>
<% end %>
<% @post.answers.each do |answer| %>
  <%= render :partial => 'posts/post', :locals => { :post => answer }%>
<% end %>

<% if @post.post_type.eql? 'question' %>
  <%= render :partial => 'posts/answer_form', :locals => { :post => @post }%>
<% elsif current_user.nil? and @post.post_type.eql? 'info'%>
  <p class="hint">Please <%= link_to 'Sign in', '/users/sign_in' %> or <%= link_to 'Sign up', '/users/sign_up' %> to comment this information.</p>
<% end %>
</div>

