<h2>Feedbacks</h2>

<% if @feedbacks.count > 0 %>

<table class="table">
	<thead>
		<tr>
			<th class="span2">Read</th>
			<th class="span2">Received</th>
			<th>Feedback</th>
		</tr>
	</thead>
	<tbody>
		<% @feedbacks.each do |feedback| %>
			<tr class="<%= 'un' unless feedback.read? %>read" id='feedback-<%= feedback.id %>' data-id='<%= feedback.id %>'>
				<td id="<%= "feedback-#{feedback.id}-icon"%>"><% unless feedback.read? %><%= button_to 'mark as read', mark_feedback_as_read_path(feedback), class: 'btn btn-mini btn-primary', :id => "feedback-#{feedback.id}-mark-as-read", remote: true %><% else %><i class='icon-check'></i><% end %></td>
				<td><%= I18n.localize(feedback.created_at, :format => :short) %></td>
				<td><%= feedback.content %></td>
				<td><%= link_to content_tag('i', '', class: 'icon-remove'), feedback, :data => { :confirm => "Are you sure that you want to delete this feedback?" }, method: :delete, class: 'pull-right' %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= paginate @feedbacks %>
<% else %>
	<p class="hint">No feedback yet.</p>
<% end %>
