<div class="modal" id="feedbackModal">
  <%= form_for(@feedback = Feedback.new, remote: true) do |f| %>
	  <div class="modal-header">
	    <%= link_to 'x', '#', :class => 'close closeButton' %>
	    <h3 id='feedbackModalLabel'>What's your feedback?</h3>
	  </div>
	  <div class="modal-body">
	     <center><%= f.text_area :content, class: 'span5', :size => '10x4' %></center>
	  </div>
	  <div class="modal-footer">
	    
	    <%= f.submit 'Submit feedback', class: 'btn btn-primary', :id => 'submit-feedback' %>
			<% end %>
	    <%= link_to 'Close', '#', :class => 'btn closeButton', :id => 'hide-feedback-modal' %>
	  	<p class="hint">It's anonymous. We don't save who submits the feedback.</p>
	  </div>


</div>