<% if @infos.count == 0 %>
  
  No announcements, yet.
    <% if current_user and current_user.may_edit_course(@course) %>
      <%= link_to 'Write an announcement.', new_post_path(:post_type => 'info', :course_id => @course.id) %>
    <% end %>
  </p>
<% else %> 
	<table class="table announcement-teaser">
  <% @infos.first(5).each do |info| %>
    <tr>
    	<td>
    		<b><%= (info.rating > 0 ? "+#{info.rating}" : "#{info.rating}") %></b>	
    	</td>
			<td>
			  <b><%= link_to info.subject, post_path(info) %></b>
			  <small class="pull-right">
			  	<%= "#{distance_of_time_in_words(Time.now, info.created_at)} ago" %>, <%= link_to pluralize(info.comments.count, 'commment'), post_path(info) %>
			  </small>
			</td>
		</tr>  
  <% end %>
</table>
<% end %>

