<div class="modal hide" id="manage-users-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>Manage users in this course</h3>
  </div>
  <div class="modal-body">

    <%= form_tag search_users_to_manage_path, :method => 'get', class: 'form-search', :remote => true do %>
    <div class="controls">
      <%= text_field_tag :q, params[:q], :placeholder => "Search for the user..." %>
      <%= submit_tag 'Search', class: 'btn btn-info hidden-phone' %>
    </div>
    <% end %>

    <%= form_tag manage_users_path, :method => 'post', :id => 'manage-users-form', :remote => true do %>
    <div class="manage-user-table">
      <%= render 'course/manage-users-table' %>
    </div>
  </div>
  <div class="modal-footer">
    <%= button_tag 'Close', 'data-dismiss' => 'modal', :class => 'btn' %>
    <%= submit_tag 'Save changes', :data => { :disable_with => 'Submitting...' }, :class => 'btn btn-primary' %>
  </div>
  <% end %>
</div>