<tr><td><b><%= pluralize(@course.maintainers.count, 'maintainer') %>:</b></td></tr>
<tr>  
  <% unless @course.maintainers.empty? %>
    <td>
    <% @course.maintainers.each do |maintainer| %>
      <% if !maintainer.user.nil? %>
        <%= maintainer.user.full_name %><%= "," unless @course.maintainers.last == maintainer %>
      <% end %>
    <% end %>
    </td>
  <% end %>
</tr>

<tr><td><b><%= pluralize(@course.editors.count, 'editor') %>:</b></td></tr>
<tr>
<% unless @course.editors.empty? %>
  <td>
  <% @course.editors.each do |editor| %>
    <% if !editor.user.nil? %>
      <%= editor.user.full_name %><%= "," unless @course.editors.last == editor %>
    <% end %>
  <% end %>
  </td>
<% end %>
</tr>

<tr><td><b><%= pluralize(@course.followers.count, 'member') %>:</b></td></tr>
<tr>
  
  <td>
    <% if (can? :manage, @course) and  @course.followers.count > 0 %>
      <% @course.followers.each do |member| %>
        <%= member.full_name %><%= ',' unless @course.followers.last == member %>
      <% end %>
    <% end %>
  </td>
</tr>