<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "auditorium next" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>

    <% if mathjax_should_load %>
      <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
         tex2jax: {
           inlineMath: [ ['$','$'] ],
           processEscapes: true
         }
        });
      </script>
      <%= mathjax_tag config: 'TeX-AMS_HTML.js' %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <noscript><div class="alert-box">Please enable javascript.</div></noscript>

    <div class="sticky">
      <!-- <div class="stripe">
        <div class="success"></div>
        <div class="alert"></div>
        <div class="warning"></div>
        <div class="primary"></div>
        <div class="success"></div>
        <div class="alert"></div>
        <div class="warning"></div>
        <div class="primary"></div>
      </div> -->
      <nav class="top-bar <%= params[:controller] %>" data-options='is_hover:false'>
        <ul class="title-area">
          <!--Title area -->
          <li class="name"><h1><%= link_to 'auditorium', root_path %></h1></li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- left nav section -->
          <ul class="left">
            <li><%= nav_link t('navigation.home'), home_path, { class: 'home' } %></li>
            <li><%= nav_link t('groups.menu_item'), groups_path, { class: 'groups' } %></li>
          </ul>

          <ul class="right">
            <% if current_user.presence %>
              <li><%= link_to current_user.full_name, user_path(current_user) %></li>
              <li><%= link_to t('users.sign_out'), destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t('users.sign_in'), new_user_session_path %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </div>
    <section role="main">
    <!-- flash messages -->
    <% [:error, :success, :notice].each do |key| %>
      <% if flash[key] %>
      <div data-alert class="alert-box <%= key %>" id="flash">
        <%= flash[key] %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>
    <% end %>    

    <div class="row">
      <%= yield %>
    </div>
    </section>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>
