<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />
  	<!-- Uncomment to make IE8 render like IE7 -->
  	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

  	<!-- Set the viewport width to device width for mobile -->
  	
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

  	<title><%= "auditorium next | #{yield(:title)}" %></title>

  	<%= stylesheet_link_tag    "application" %>
  	<%= javascript_include_tag "vendor/custom.modernizr" %>

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({ tex2jax: { inlineMath: [ ['$','$'] ], processEscapes: true }});
    </script>
    <script type="text/javascript" src="/mathjax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar <%= color_scheme %>"  data-options="is_hover:false">
      <ul class="title-area">
        <!--Title area -->
        <li class="name">
          <%= link_to home_path do %>
            <%= image_tag('auditorium_logo_colors.png',  { class: 'logo'}) %>
            <%= content_tag('span', 'auditorium', class: 'hide-for-small logo-name') %>
          <% end %>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>

      <section class="top-bar-section">
        <!-- left nav section -->
        <ul class="left">
          <li><%= nav_link t('navigation.home'), home_path %></li>
          <li><%= nav_link t('navigation.groups'), groups_path %></li>
          <li><%= nav_link t('navigation.my_groups'), my_groups_path %></li>
        </ul>

        <ul class="right">
          <li ><%= nav_link fa_icon('search', text: t('navigation.search')), alternative_search_path %></li>
          
          <% if current_user.present? %>
            <li><%= nav_link current_user, user_path(current_user) %></li>
            <li><%= nav_link t('navigation.update_profile'), edit_user_registration_path %></li>
            <li><%= link_to current_user.notifications.size, notifications_path, class: 'notification-button', title: t('navigation.notifications', size: current_user.notifications.size) %></li>
            <li><%= link_to t('navigation.sign_out'), destroy_user_session_path, class: color_scheme, method: :delete %></li>
          <% else %>
            <li><%= nav_link t('navigation.sign_in'), new_user_session_path %></li>
          <% end %>
        </ul>
      </section>
    </nav>

    <section role="main">
      <noscript><div class="alert-box">Please enable javascript.</div></noscript>
      <!-- flash messages -->
      <% [:error, :success, :notice].each do |key| %>
        <% if flash[key] %>
        <div data-alert class="alert-box <%= key %>" id="flash">
          <%= flash[key] %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>
      <% end %>    
      <div class="row">
        <%= yield %>
      </div>
    </section>
    
    <footer id="footer" class="container">
      <%= render 'shared/footer' %>
        
    </footer>

    <%= render 'shared/search_bar' %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
