<!DOCTYPE html>
<html>
  <head lang="en">
    <title>auditorium</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
       tex2jax: {
         inlineMath: [ ['$','$'] ],
         processEscapes: true
       }
      });
    </script>
    <%= mathjax_tag config: 'TeX-AMS_HTML.js' %>
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    <header id="header">
      <div class="container">
        <%= render "shared/head" %>
      </div>
      <div class="container">
        <%= render "shared/navbar" %>
      </div>
    </header>

    <section>
      <div class="container" id="content">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
    </section>
    <footer id="footer">
      <%= render :partial => 'shared/footer' %>
    </footer>
    <% if can? :create, Feedback %>
    <div class="hidden-phone" id="feedback">
      <%= link_to 'feedback', '#feedbackModal', 'data-toggle'=>"modal", 'role' => 'button' %>
    </div>
    <% end %>

    <%= render 'feedbacks/feedback_modal' %>
  </body>
</html>

