<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

    <!-- Set the viewport width to device width for mobile -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>

    <title><%= "auditorium next | #{yield(:title)}" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/custom.modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav>
      <span class="right">
        <%= link_to t('landing_page.links.sign_in'), new_user_session_path, class: 'button inverted' %>
        <%= link_to t('general.languages.german'), params.merge(locale: 'de'), class: "button #{(params[:locale] == 'de' || params[:locale].nil?) ? 'primary' : 'inverted'}" %>
        <%= link_to t('general.languages.english'), params.merge(locale: 'en'), class: "button #{(params[:locale] == 'en') ? 'primary' : 'inverted'}" %>
      </span>
    </nav>

    <section role="main">
      <noscript><div class="alert-box">Please enable javascript.</div></noscript>
      <!-- flash messages -->
      <% [:error, :success, :notice, :alert].each do |key| %>
        <% if flash[key] %>
        <div data-alert class="alert-box <%= key %>" id="flash">
          <%= flash[key] %>
          <a href="#" class="close">&times;</a>
        </div>
        <% end %>
      <% end %>    
      <div class="row">
        <%= yield %>
      </div>
    </section>

    <footer>
      <hr />
      <span class="right">
        <%= link_to t('general.footer.links.github'), 'http://github.com/auditorium/auditorium', class: 'button inverted' %>
        <%= link_to t('general.footer.links.email_us'), 'mailto:inf-auditorium@groups.tu-dresden.de', class: 'button inverted' %>
        <%= link_to t('general.footer.links.story'), story_path, class: 'button inverted' %>
        <%= link_to t('general.footer.links.imprint'), imprint_path, class: 'button inverted' %>
        <%= link_to t('general.footer.links.privacy'), privacy_path, class: 'button inverted' %>
      </span>
    </footer>


    <%= javascript_include_tag "application" %>
  </body>
</html>
