<% @reports.reverse.each do |report| %>
  <% if report.read %>
    <tr class='read'>
    <td></td>
  <% else %>
    <tr class='unread'>
    <td><%= link_to '', mark_report_as_read_path(report.id), :title =>'mark report as read', :class=>"icon-ok" %></td>
  <% end %>

  <td>
    <%= link_to report.body.to_s.slice(0..100), report  %>
    <small>reported <%= distance_of_time_in_words(Time.now, report.created_at) %> ago</small>
  </td>
    <td><em><%= report.post.author %></em></td>
    <td><em><%= link_to report.post.subject, report.post %></em></td>
    <td><em><%= link_to report.post.body, report.post %></em></td>
    <td><%= distance_of_time_in_words(Time.now, report.post.created_at) %> ago</td>
    <td>
      <%= link_to ' read', mark_report_as_read_path(report.id), :title =>'mark report as read', :class=>"icon-ok" %>
      &middot;
      <%= link_to ' edit', edit_post_path(report.post), class: 'icon-edit' %>
      &middot;
      <%= link_to ' delete', report.post, :data => { :confirm => 'Are you sure that you want to remove this post?' }, method: :delete, class: 'icon-trash' %>
    </td>
  </tr>
<% end %>