<div class="center span8">
<h3>Report details <small><%= link_to "show all reports", reports_path %></small></h3>

<table class="table table-condensed">
    <thead>
      <tr>
        <th>Reporter</th>
        <th>When?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @report.reporter %></td>
      <td>reported <%= distance_of_time_in_words(Time.now, @report.created_at) %> ago</td>
      <td>
      <%= link_to ' read', mark_report_as_read_path(@report.id), :title =>'mark report as read', :class=>"icon-ok" %>
      &middot;
      <%= link_to ' edit', edit_post_path(@report.post), class: 'icon-edit' %>
      &middot;
      <%= link_to ' delete', @report.post, :data => { :confirm => 'Are you sure that you want to remove this post?' }, method: :delete, class: 'icon-trash' %>
    </td>
    </tbody>
  </table>

<h3><%= "#{@report.post.post_type.capitalize} details" %></h3>

<%= render 'posts/post', :post => @report.post %>
</div>
