<%= form_for(@term) do |f| %>
  <% if @term.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@term.errors.count, "error") %> prohibited this term from being saved:</h2>

      <ul>
      <% @term.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="fields">
    <%= f.label :term_type %>
    <%= f.select :term_type, options_from_collection_for_select(term_types, :first, :last)%>
  </div>
  
  <div class="fields">
    <%= f.label :beginDate %>
    <%= f.date_select :beginDate, :ignore_time => true %>
  </div>
  
  <div class="fields">
    <%= f.label :endDate %>
    <%= f.date_select :endDate, :ignore_time => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
