<h2>Browse courses by term</h2>

<div class="row-fluid">
  <% cols = 3 ; cols = 12/cols ; i = 0 %>
  <% @terms.each do |term| %>

  
  <div class="well span<%= cols %>">
    <h3><%= link_to term.code, term_path(term) %></h3>
    <ul class="unstyled">
      <li>Courses: <%=link_to term.courses.count, courses_path(:term_id => term.id) %></li>
    </ul>
    <% if can? :manage, term %>
    <div class="controls">
      <%= link_to 'edit', edit_term_path(term), class: 'btn btn-warning btn-mini' %>
      <%= link_to 'delete', term, confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini btn-danger" %>
    </div>
    <% end %>
    <% i=i+1 %>
    <% if i % (12/cols) == 0 %>
      </div>
      <div class="row-fluid">
    <% else %>
  </div>
    <% end %>
  <% end %>

</div>