<p id="notice"><%= notice %></p>

<h2><%= term_types()[@term.type] %> <%= @term.year %></h2>
<ul>
<% @courses.each do |course| %>

  <li> 
  <%= link_to course.name , course %> 
  </li>

<% end %>
</ul>

<%= link_to 'Back', terms_path %>
<p class="hint"> Don't find your faculty?<br/>
 See <%= link_to "Settings", edit_user_registration_path %> to associate with a faculty</p>
