<p id="notice"><%= notice %></p>

<p><%= @term.term_type %></p>
<p><%= @term.beginDate %></p>
<p><%= @term.endDate %></p>

<%= link_to 'Edit', edit_term_path(@term) %> |
<%= link_to 'Back', terms_path %>
