<div class="container span4 center">
  
  <% devise_error_messages! %>
  <h2>Change your password</h2>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <fieldset class="well">
    <div class="control-group">

      <div class="controls">
      	<%= f.hidden_field :reset_password_token %>
        <%= f.password_field :password, :placeholder => 'New password', :class => "span3"%>
        <%= f.password_field :password_confirmation, :placeholder => 'Confirm new password', :class => "span3" %>

      </div>
      <%= f.submit "Change my password", :class => 'btn btn-large btn-primary span2', 'data-disable-with' => 'Changing password...' %>
      <p class='help-block'><%= render :partial => "devise/shared/links" %></p>
    </div>

    
    </fieldset>
  <% end %>
</div>
