<div>
  <% if current_user.courses.count > 0 %>
  <% current_user.courses.each do |course| %>
    <table class="table">
      <tr>
      
      <td class="span7">
        <strong> <%= link_to course.name, course %> </strong>
        <br/>
        <%= course.term %>
      </td>

      <td class="span3">
        <small>
          <%= pluralize(course.questions.count, 'question') %><br />
          <%= pluralize(course.participants.count, 'participant') %><br />
          <%= pluralize(course.followers.count, 'follower') %><br />
        </small>
      </td>
      <td>
        <div class="subtle pull-right">
              <%= link_to "#{course_path(course)}/unfollow", 'data-placement' => 'right', :title => "#{current_user.is_moderator?(course) ? 'Click to cancel your membership as moderator of this course. Your subscription will also be canceled.' : 'Click to unsubscribe'}" ,:rel => "tooltip", :class => "fa-remove remove-cross btn btn-mini btn-link", 'data-id' => "#{course.id}", 'data-name' => "#{course.name}", :data => { :confirm => "Are you sure that you want to unsubscribe to #{course.name_with_term}?" }  do %>
              <% end %>
            </div>
      </td>

      </tr>
    </table>

  <% end %>

  <% else %>
  <p class="hint">You don't have subscribed to courses, yet. <%= link_to 'Add some courses to get notifications on updates.', my_courses_path %></p>
  <% end %>
</div>
