<% if current_user %>

  <% limit = 0 if limit.nil?  %>

  <% if current_user.courses.count > 0 %>
    <table class="table table-condensed table-striped">  
      <% current_user.courses.each do |course| %>
        <% if limit == 0 or limit > current_user.courses.index(course) %>
          <th><%= link_to course.name, course %></th>
          <td><%= course.posts.count %></td>
          <td>
            latest question: 
            <% if course.posts.last %>
              <cite>
                <%= link_to "#{course.posts.last.subject}...", "#{course_path(course)}#question-#{course.posts.last.id}" %>
              </cite>
              <em> <%= course.posts.last.created_at.strftime "%a %d.%m." %> </em>
              <em> <%= course.posts.last.author.display_name  %> </em>
            <% end %>
          </td>
          <td class="follow-button">
            <span class="pull-right">
              <%= render :partial => 'shared/follow_button', :locals => { :course => course } %>
            </span>
          </td>
        </tr>

      <% end %>
      <% end %>
    </table>
  <% else %>
    <p class="hint">You can search for a course and follow them to get notifications.</p>
  <% end %>

<% else %>
  <p class="hint">Please log in to see your courses. <%= link_to 'Sign in', '/users/sign_in' %> or <%= link_to 'Sign up', '/users/sign_up' %></p>
<% end %>
