<div>
  <% if current_user.courses.count > 0 %>
  <% current_user.courses.each do |course| %>
    <div class="row-fluid" >
      <div class='span2 pull-right <%= "follow-button small follow-button-#{course.id}" %>'>
        <%= render :partial => 'shared/follow_button', :locals => { :course => course } %>
      </div>


      <div class="span7">
        <strong> <%= link_to course.name, course %> </strong>
        <br/>
        <em> <small> <%= course.term %> </small> </em>
      </div>


      <div class="span3">
        <small>
        <ul class="unstyled margin:0;">
          <li><nobr><%= pluralize(course.questions.count, 'question') %></nobr></li>
          <li><nobr><%= pluralize(course.participants.count, 'participant') %></nobr></li>
        </ul>
        </small>
      </div>

    </div>

  <% end %>

  <% else %>
  <p class="hint">You don't have subscribed to courses, yet. <%= link_to 'Add some courses to get notifications on updates.', my_courses_path %></p>
  <% end %>
</div>
