<div>
  <% if current_user.courses.count > 0 %>
  <% current_user.courses.each do |course| %>
    <table class="table">
      <tr>
      
      <td class="span7">
        <strong> <%= link_to course.name, course %> </strong>
        <br/>
        <em> <small> <%= course.term %> </small> </em>
      </td>

      <td class="span3">
        <small>
          <%= pluralize(course.questions.count, 'question') %><br />
          <%= pluralize(course.participants.count, 'participant') %><br />
          <%= pluralize(course.followers.count, 'follower') %><br />
        </small>
      </td>
      <td class='span2 <%= "follow-button small follow-button-#{course.id}" %>'>
        <%= render :partial => 'shared/follow_button', :locals => { :course => course } %>
      </td>

      </tr>
    </table>

  <% end %>

  <% else %>
  <p class="hint">You don't have subscribed to courses, yet. <%= link_to 'Add some courses to get notifications on updates.', my_courses_path %></p>
  <% end %>
</div>
