<% if @courses_by_faculty.count > 0 %>

  <% @courses_by_faculty.each do |faculty, courses| %>

    <h2 name="<%= faculty %>"><%= "My Courses in #{faculty}" %></h2>

    <% cols = 3 ; cols = 12/cols ; i = 0 %>

    <div class="row-fluid" id="grid" >
      <% courses.each do |course| %>
        <div class="span<%=cols%>" id="well-<%= course.id %>" style="padding:0;margin-bottom:20px;">
          <div class="well-small"> 

            <div class="subtle pull-right">
              <%= link_to "#{course_path(course)}/unfollow", 'data-placement' => 'right', :title => 'Click to unsubscribe.',:rel => "tooltip", :class => "icon-remove remove-cross btn btn-mini btn-link", 'data-id' => "#{course.id}", 'data-name' => "#{course.name}", :data => { :confirm => "Are you sure that you want to unsubscribe to #{course.name_with_term}?" }  do %>
              <% end %>
            </div>

            <h3 style="min-height:50px;"> <%= link_to course.name, course %><br/> </h3>


            <% if course.infos.count > 0  %>
              <dl class="info">
                <dt class="info-title">
                <a href="#" class="info" data-id="<%= course.id%>" data-type="info">
                  <i class="chevron icon-chevron-right"></i>
                  <span class="pull-right"><%= pluralize(course.infos.count, 'info') %></span>
                </a>
                </dt>

                <dd class="info-details" id="info-details-<%= course.id%>">
                <% if course.infos.count > 0 %>
                  <ul class="unstyled">
                    <% course.infos.first(4).each do |info| %>

                      <li>
                      <span class="hidden-phone-tight post-date pull-right"> <%= "#{distance_of_time_in_words(Time.now, info.updated_at)} ago" %> </span>
                      <strong> <%= link_to "#{info.subject}", info %> </strong> <br/>
                      </li>

                    <% end %>
                    <% if course.infos.count > 4 %>
                      <li><%= link_to 'more »', course %></li>
                    <% end %>
                  </ul>	
                <% else %>
                  <%= link_to "No infos ask yet. Be the first.", course %>
                <% end %>
                </dd> </dl>
              <% end %>


              <dl class="question">
                <dt class="question-title"> 
                <a href="#" class="question" data-id="<%= course.id%>" data-type="question">
                  <i class="chevron icon-chevron-right"></i>
                  <span class="pull-right"><%= pluralize(course.questions.keep_if{|q| can? :read, q}.count, 'question') %></span>
                </a>
                </dt>

                <dd class="question-details" id="question-details-<%= course.id%>">
                <% if course.questions.keep_if{|q| can? :read, q}.count > 0 %>
                  <ul class="unstyled">
                    <% course.questions.first(4).each do |question| %>
                      <% if can? :read, question %>
                      <li>

                      <strong>
                        <% if question.answered? %>
                          <span class="icon-check answered"></span>
                        <% else%>
                          <span class="icon-check-empty"></span>
                        <% end %>
                        <%= content_tag('i', '', class: 'icon-eye-open private-question', title: 'Private question', rel: 'tooltip') if question.is_private %>
                        <%= link_to "#{shorten question.subject, 26}", question %>
                      </strong>
                      <br/>
                      <span class="subtle">
                        <em> <%= question.author %> </em> |
                        <em> <%= pluralize question.answers.count, 'answer' %> </em> |
                        <em> <%= "#{distance_of_time_in_words(Time.now, question.updated_at)}" %> ago </em>
                      </span>

                      </li>
                      <% end %>
                    <% end %>
                    <% if course.questions.count > 4 %>
                      <li><%= link_to 'more »', course %></li>
                    <% end %>
                  </ul>	
                <% else %>
                  <%= link_to "No questions ask yet. Be the first.", course %>
                <% end %>
                </dd> </dl>


              <div class="subtle pull-right" style="text-align:right;">
                <%= course.participants.count %>/ <%= pluralize(course.followers.count, 'active member') %>
              </div>
              </div>

            </div>
            <% i=i+1 %>
            <% if i % (12/cols) == 0 %>
            </div>

            <div class="row-fluid" >
            <% end %>

          <% end %>
        </div>

      <% end %>

      <%= paginate @courses %>

    <% else %>

      <h2>My Courses</h2>

      <p class="hint">You don't have subscribed to any course yet. You can search for a course and add it to this view.</p>

    <% end %>

<hr />
<div class="well">
<label for='q'>Search and subscribe to new courses</label>
<%= form_tag search_my_courses_path, :method => 'get', class: 'form-search', :remote => true do %>
  <div class="controls">
    <%= text_field_tag :q, params[:q], :placeholder => "Type in the name of the course, you're searching for...", class: 'span10' %>
    <%= submit_tag 'Search', class: 'btn btn-info span2 hidden-phone' %>
  </div>

  <p class='hint hidden-phone'>You can't find the correct course? <%= link_to 'Search for the lecture first!', lectures_path(:q => params[:q]), :class=>'search-for-lecture' %></p>
<% end %>
</div>

<% if params[:q].nil? %>
<div class="courses-table my-courses">
  <%= render 'courses/courses-list' %>
</div>
<% end %>
