<h2>Institutes</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Chairs</th>
    <th>Fakultät</th>
    <th></th>
  </tr>
  </thead>

<% @institutes.each do |institute| %>
  <tr>
    <td><%= link_to institute.name, institute %></td>
    <td><%= link_to pluralize(institute.chairs.count, 'Chair'), chairs_path(:institute_id => institute.id) %></td>
    <td><%= link_to institute.faculty.name, institute.faculty %></td>
    <% if current_user and current_user.admin?  %>
      <td>
      <%= render "institutes/access_buttons", :institute=> institute%>
      </td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'add institute', new_institute_path, { :class => 'btn btn-primary' } if current_user and current_user.admin? %>
