<h2>Chairs <%= "for #{@institute}" %></h2>
<div class="well">
<label for='q'>Search for chairs in all faculties</label>
<%= form_tag search_chairs_path, :method => 'get', class: 'form-search', :remote => true do %>
  <div class="controls">
    <%= text_field_tag :q, params[:q], :placeholder => "Type in the name of the chair, you're searching for...", class: 'span10' %>
    <%= submit_tag 'Search', class: 'btn btn-info span2 hidden-phone' %>
  </div>
<% end %>
</div>

<div class="chairs">
<%= render :partial => 'chairs/grid' %>
</div>